<div class="dropdown m_select m_dropdown">
    <button class="m_select--label m_dropdown--label square dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Trạng Thái Dự Án
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Mới</a>
        <a class="dropdown-item" href="#">Đang
            chờ</a>
        <a class="dropdown-item" href="#">Đang
            triển khai</a>
        <a class="dropdown-item" href="#">Dừng</a>
        <a class="dropdown-item" href="#">Hoàn
            Thành</a>
    </div>
</div>

<div class="dropdown m_select m_dropdown">
    <button class="m_select--name m_dropdown--label square dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Trạng Thái Dự Án
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Mới</a>
        <a class="dropdown-item" href="#">Đang
            chờ</a>
        <a class="dropdown-item" href="#">Đang
            triển khai</a>
        <a class="dropdown-item" href="#">Dừng</a>
        <a class="dropdown-item" href="#">Hoàn
            Thành</a>
    </div>
</div>

<div class="exchange-rate ml-auto">
    <div class="cus-date-picker2">
        <input class="form-control js-datepicker" type="text" readonly placeholder="dd-mm-yy" />
        <i class="date-icon fas fa-calendar-check"></i>
    </div>
</div>