<div class="dropdown m_select m_dropdown">
    <button class="m_select--label m_dropdown--label square dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Trạng Thái Dự Án
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Mới</a>
        <a class="dropdown-item" href="#">Đang
            chờ</a>
        <a class="dropdown-item" href="#">Đang
            triển khai</a>
        <a class="dropdown-item" href="#">Dừng</a>
        <a class="dropdown-item" href="#">Hoàn
            Thành</a>
    </div>
</div>
<div class="m_search">
    <label class="m_search--label d-none d-md-block">Tên Dự Án</label>
    <div class="input-search">
        <input type="text" class="form-control" placeholder="">
        <i class="fa fa-search input-icon"></i><i class=></i>
    </div>
</div>
<div class="dropdown m-action ml-auto">
    <button type="button" class="btn_dropdown_outline dropdown-toggle" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hành động
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Thêm dự án</a>
    </div>
</div>
