<div class="dropdown m-action ml-auto">
    <button type="button" class="btn_dropdown_outline dropdown-toggle" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hành động
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Thêm dự án</a>
    </div>
</div>
