{% set page_title = 'Login' %}

{% extends "../elements/_base_login.twig" %}

{% block content %}
<div class="login">
    <div id="particles-js" class="particles-js"></div>
    <img class="logo" src="../../assets/images/logo_scb_full.svg">
    <div class="login__form">
        <div class="title">eKYC</div>
        <div class="cus-input">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Tên đăng nhập hoặc e-mail">
                <small class="mess-error text-danger">Email của bạn không đúng. Vui lòng thử lại !</small>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Mật khẩu">
                <small class="mess-error text-danger">Email của bạn không đúng. Vui lòng thử lại !</small>
            </div>
            <label class="custom-checkbox">
                Lưu đăng nhập
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="login_btn">
            <button type="submit" class="btn btn-blue btn-login">ĐĂNG NHẬP</button>
        </div>
        <div class="support-login">
            <span> Bạn đã quên mật khẩu ?</span>
            <a href="/page__00_login.html" class="text">Cài lại</a>
        </div>
    </div>
</div>
{% endblock %}
