{% set page_title = 'Login' %}

{% extends "../elements/_base_login.twig" %}

{% block content %}
<div class="login login--forgot">
    <div id="particles-js" class="particles-js"></div>
    <img class="logo" src="../../assets/images/logo_scb_full.svg">
    <div class="login__form">
        <div class="title">Đặt lại mật khẩu</div>
        <div class="support-title">
            Quên mật khẩu của bạn? Nhập địa chỉ e-mail của bạn vào bên dưới và chúng tôi sẽ gửi
            cho bạn một e-mail.
        </div>
        <div class="cus-input">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Tên đăng nhập hoặc e-mail">
                <small class="mess-error text-danger">Email của bạn không đúng. Vui lòng thử lại !</small>
            </div>
        </div>
        <div class="login_btn">
            <button type="submit" class="btn btn-blue btn-login">Gửi</button>
        </div>
        <div class="support-login">Vui lòng liên hệ với chúng tôi nếu bạn gặp bất kỳ sự cố.</div>
    </div>
</div>
{% endblock %}
