{% set page_title = 'Login' %}

{% extends "../elements/_base_login.twig" %}

{% block content %}
<div class="login login--out">
    <div id="particles-js" class="particles-js"></div>
    <img class="logo" src="../../assets/images/logo_scb_full.svg" />
    <div class="login__form">
        <div class="support-title">Bạn có chắc chắn muốn đăng xuất không ?</div>
        <div class="login_btn">
            <button type="submit" class="btn btn-blue btn-login">Đăng Xuất</button>
        </div>
    </div>
</div>
{% endblock %}