{% set page_title = '01_Dashboard' %}
{% extends "../elements/_base.twig" %}

{% set mainContentClassName = "'main_container page-dashboard'" %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="map-bg">
        hihi
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-xl-8">
            {% include "../components/cp_small_boxes.twig" %}
            <div class="dasdboard-filter">
                <div class="cus-select2">
                    <div class="form-group ">
                        <label class="label" for="">Theo vùng</label>
                        <select class="js-seclect2 form-control" placeholder="">
                            <option value="" selected disabled>Chọn vùng</option>
                            <option value="CA"> Nam</option>
                            <option value="NV">Nam</option>
                            <option value="NV">Nữ</option>
                        </select>
                    </div>
                </div>
                <div class="cus-select2">
                    <div class="form-group ">
                        <label class="label" for="">Theo ĐVKD</label>
                        <select class="js-seclect2 form-control">
                            <option value="" selected disabled>Chọn ĐVKD</option>
                            <option value="CA"> Nam</option>
                            <option value="NV">Nam</option>
                            <option value="NV">Nữ</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-xl-4">
            {% include "../components/cp_chart_statistical.twig" %}
        </div>
    </div>
    <div class="dashboard-bottom">
        {% include "../components/cp_list_detail.twig" %}
        {% include "../components/cp_chart_average.twig" %}
    </div>
</div>
{% endblock %}
