{% set page_title = '02_01_Monitoring' %}
{% extends "../elements/_base.twig" %}

{% set mainContentClassName = "'main_container page-monitoring'" %}

{% block content %}
<div class="header-page">
    <h1 class="header-page__title">Monitoring eKYC System</h1>
</div>
<div class="row">
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 d-flex flex-column">
        <div class="h-100">
            <div class="card-wrap" style="height: unset">
                <div class="m_heading">
                    <span class="m_title">
                        Tìm kiếm
                    </span>
                </div>
                <div class="card square">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                <div class="cus-select2">
                                    <div class="form-group">
                                        <label class="label">
                                            Theo vùng
                                        </label>
                                        <select class="js-seclect2 form-control">
                                            <option value="CA">- All -</option>
                                            <option value="NV">Nevada</option>
                                            <option value="OR">Oregon</option>
                                            <option value="WA">Washington</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                <div class="cus-select2">
                                    <div class="form-group">
                                        <label class="label">
                                            Theo vùng
                                        </label>
                                        <select class="js-seclect2 form-control">
                                            <option value="CA">- All -</option>
                                            <option value="NV">Nevada</option>
                                            <option value="OR">Oregon</option>
                                            <option value="WA">Washington</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label class="label" for="">Theo CIF hoặc GTTT</label>
                                    <input type="text" class="form-control" placeholder="Nhập">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                <div class="cus-select2">
                                    <div class="form-group">
                                        <label class="label">
                                            Theo vùng
                                        </label>
                                        <select class="js-seclect2 form-control">
                                            <option value="CA">- All -</option>
                                            <option value="NV">Nevada</option>
                                            <option value="OR">Oregon</option>
                                            <option value="WA">Washington</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-blue-dark mt-2">Tìm kiếm</button>
                    </div>
                </div>
            </div>
            <div class="card-wrap">
                <div class="m_heading">
                    <span class="m_title">
                        Tìm kiếm
                    </span>
                </div>
                <div class="card square">
                    <div class="card-body">
                        <div class="cus-table table-custom table-fixed">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width:5%">STT</th>
                                        <th style="width:22%" scope="col">ĐƠN VỊ KINH DOANH</th>
                                        <th style="width:22%" scope="col">TỔNG SỐ TÁC VỤ</th>
                                        <th style="width:22%" class="text-center" scope="col">TỔNG SỐ KHÁCH HÀNG</th>
                                        <th style="width:15%" class="text-center" scope="col">CHI TIẾT</th>
                                    </tr>
                                </thead>
                                <tbody style="max-height: 350px;">
                                    {% for i in 0..8 %}
                                    <tr>
                                        <td style="width:5%">{{i+1}}</td>
                                        <td style="width:22%">
                                            <a href="#" class="link_href_000000 fw-medium">005 - SCB Phạm Ngọc Thạch</a>
                                        </td>
                                        <td style="width:22%" class="fw-bold uni_text_1825aa">
                                            1 [CPU:
                                            <span class="uni_text_02771d">35%</span>
                                            - RAM:
                                            <span class="uni_text_f61f1f">75%</span>
                                            - GPU:
                                            <span class="uni_text_28a745">25%</span>
                                            ]
                                        </td>
                                        <td style="width:22%" class="text-center">1</td>
                                        <td style="width:15%" class="text-center">
                                            <a href="#" class="link_href_1825aa">Xem chi tiết</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% include "../elements/_pagination.twig"%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12  mt-lg-0 mt-5  d-flex flex-column">
        <div class="m_heading">
            <span class="m_title">Bản đồ</span>
        </div>
        <div class="card square h-100">
            <div class="card-body w-100"></div>
        </div>
    </div>
</div>
<div class="card-wrap">
    <div class="m_heading">
        <span class="m_title">
            Danh sách tác vụ chi tiết
        </span>
        {% include "../elements/Heading/_heading_2.twig" %}
    </div>
    <div class="card square">
        <div class="card-body">
            <div class="cus-table">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 3%">STT</th>
                            <th style="width: 5%" scope="col">id</th>
                            <th style="width: 12%" scope="col">Họ tên khách hàng</th>
                            <th style="width: 10%" scope="col">Mã CIF</th>
                            <th style="width: 10%" scope="col">Loại GTTT</th>
                            <th style="width: 8%" scope="col">nghiệp vụ</th>
                            <th style="width: 10%" scope="col">cập nhật mới nhất</th>
                            <th style="width: 8%" scope="col">Trạng thái</th>
                            <th style="width: 7%" scope="col">Hiệu suất</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <span class="text-uppercase">ABC123</span>
                            </td>
                            <td>
                                <a href="#" class="link_href_000000 fw-medium">Nguyễn Ngọc Quế</a>
                            </td>
                            <td class="fw-bold color_071180"> -</td>
                            <td>
                                CMND
                                <span class="uni_text_f61f1f">[079197005850]</span>
                            </td>
                            <td>Mở CIF</td>
                            <td>210504 12:08:36</td>
                            <td class="status-28a745">Thành công</td>
                            <td>
                                <i class="icon-percent fas fa-fingerprint"></i>
                                <span class="text-percent">94%</span>
                                <i class="icon-percent far fa-grin-beam"></i>
                                <span>94%</span>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <span class="text-uppercase">ABC123</span>
                            </td>
                            <td>
                                <a href="#" class="link_href_000000 fw-medium">Nguyễn Ngọc Quế</a>
                            </td>
                            <td class="fw-bold color_071180"> 2345678</td>
                            <td>
                                CMND
                                <span class="uni_text_f61f1f">[079197005850]</span>
                            </td>
                            <td>Mở CIF</td>
                            <td>210504 12:08:36</td>
                            <td class="status-ff9800">Đã huỷ</td>
                            <td>
                                <i class="icon-percent fas fa-fingerprint"></i>
                                <span class="text-percent">94%</span>
                                <i class="icon-percent far fa-grin-beam"></i>
                                <span>94%</span>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <span class="text-uppercase">ABC123</span>
                            </td>
                            <td>
                                <a href="#" class="link_href_000000 fw-medium">Nguyễn Ngọc Quế</a>
                            </td>
                            <td class="fw-bold color_071180"> 2345678</td>
                            <td>
                                CMND
                                <span class="uni_text_f61f1f">[079197005850]</span>
                            </td>
                            <td>Mở CIF</td>
                            <td>210504 12:08:36</td>
                            <td class="status-f44336">Thất bại</td>
                            <td>
                                <i class="icon-percent fas fa-fingerprint"></i>
                                <span class="text-percent">94%</span>
                                <i class="icon-percent far fa-grin-beam"></i>
                                <span>94%</span>
                            </td>
                        </tr>
                        {% for i in 3..5 %}
                        <tr>
                            <td>{{i+1}}</td>
                            <td>
                                <span class="text-uppercase">ABC123</span>
                            </td>
                            <td>
                                <a href="#" class="link_href_000000 fw-medium">Nguyễn Ngọc Quế</a>
                            </td>
                            <td class="fw-bold color_071180"> 2345678</td>
                            <td>
                                CMND
                                <span class="uni_text_f61f1f">[079197005850]</span>
                            </td>
                            <td>Mở CIF</td>
                            <td>210504 12:08:36</td>
                            <td class="status-1825aa">Đang xử lý</td>
                            <td>
                                <i class="icon-percent fas fa-fingerprint"></i>
                                <span class="text-percent">94%</span>
                                <i class="icon-percent far fa-grin-beam"></i>
                                <span>94%</span>
                            </td>
                        </tr>
                        {#
                        <tr>
                            <td style="width: 5%">1</td>
                            <td style="width: 10%">
                                <a href="#" class="link_href_071180 fw-medium">ABC123</a>
                            </td>
                            <td style="width: 10%">
                                <a href="#" class="link_href_212529">Vùng 1</a>
                            </td>
                            <td style="width: 15%" class="fw-medium">Mở CIF</td>
                            <td style="width: 15%">
                                <a href="#" class="link_href_212529 fw-medium">VTM Hà Nội 1</a>
                            </td>
                            <td style="width: 15%">210504 12:08:36</td>
                            <td style="width: 15%" class="status-1825aa fw-medium">Đang xử lý</td>
                            <td style="width: 15%">
                                <i class="icon-percent fas fa-fingerprint"></i>
                                <span class="text-percent">94%</span>
                                <i class="icon-percent far fa-grin-beam"></i>
                                <span>94%</span>
                            </td>
                        </tr>
                        #}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="m_pager mt-lg-4">
                <input
                    type="hidden"
                    name="page"
                    id="pagination_page"
                    value=""
                >
                <ul>
                    <li class="text-page">Trang:</li>
                    <li class="first">
                        <a>Đầu</a>
                    </li>
                    <li class="disable">
                        <a href="javaScript:void(0);">Trước</a>
                    </li>
                    <li class="active">
                        <a ref="pagination" page-number="1">1</a>
                    </li>
                    <li class="">
                        <a ref="pagination" page-number="2">2</a>
                    </li>
                    <li class="disable">
                        <a href="javaScript:void(0);">Kế Tiếp</a>
                    </li>
                    <li>
                        <a>Cuối</a>
                    </li>
                    <li class="page-current">
                        <b>1</b>
                        tới
                        <b>2</b>
                        của 7 mục
                    </li>
                    <li class="vertical-dash">|</li>
                    <li class="text-page d-inline-flex">
                        Tìm trang : &nbsp;
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control square page-number"
                                placeholder="Mã"
                                onkeypress="find_page(event, this.value)"
                            >
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
