{% set page_title = '03_02' %}
{% extends "../elements/_base.twig" %}

{% set mainContentClassName = "'main_container'" %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 d-flex flex-column">
            <div class="m_heading">
                <span class="m_title">Hình ảnh</span>
            </div>
            <div class="card square h-100">
                <div class="card-body w-100">
                    {% include "../components/cp_avata.twig" %}
                </div>
            </div>
        </div>
        <div class=" col-sm-12 col-md-6 col-lg-6 col-xl-8 d-flex flex-column">
            <div class="m_heading">
                <span class="m_title">
                    Thông tin khách hàng
                </span>
                <div class="exchange-rate ml-auto">
                    <div class="dropdown m-action">
                        <button
                            type="button"
                            class="btn_dropdown_outline dropdown-toggle"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            Đang kích hoạt
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Thêm dự án</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card square h-100">
                <div class="card-body ">
                    {% include "../components/cp_form_infort.twig" %}
                </div>
            </div>
        </div>
    </div>
    <div class="card-wrap">
        <div class="m_heading">
            <span class="m_title">
                THÔNG TIN ĐỊNH DANH
            </span>
            <div class="dropdown m_select m_dropdown">
                <button
                    class="m_select--label m_dropdown--label square dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Trạng Thái Dự Án
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Mới</a>
                    <a class="dropdown-item" href="#">
                        Đang
                        chờ
                    </a>
                    <a class="dropdown-item" href="#">
                        Đang
                        triển khai
                    </a>
                    <a class="dropdown-item" href="#">Dừng</a>
                    <a class="dropdown-item" href="#">
                        Hoàn
                        Thành
                    </a>
                </div>
            </div>
            <div class="dropdown m_select m_dropdown">
                <button
                    class="m_select--name m_dropdown--label square dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Trạng Thái Dự Án
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Mới</a>
                    <a class="dropdown-item" href="#">
                        Đang
                        chờ
                    </a>
                    <a class="dropdown-item" href="#">
                        Đang
                        triển khai
                    </a>
                    <a class="dropdown-item" href="#">Dừng</a>
                    <a class="dropdown-item" href="#">
                        Hoàn
                        Thành
                    </a>
                </div>
            </div>
            <div class="exchange-rate ml-auto">
                <div class="dropdown m-action">
                    <button
                        type="button"
                        class="btn_dropdown_outline dropdown-toggle"
                        id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Hành động
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Thêm dự án</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card square h-100">
            <div class="container-fluid">
                <div class="identifi-infor__content">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 bd-right-1">
                            {% include "../components/cp_identifi.twig" %}
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                            <div class="title-content">II. thông tin Mặt sau</div>
                            {% include "../components/cp_identifi_right.twig" %}
                        </div>
                    </div>
                    <div class="fw-medium fs-15 color_353535 text-uppercase mb-4">A. Phân tích ocr</div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 bd-right-1 d-flex flex-column">
                            <div class="h-100 d-flex flex-column justify-content-between">
                                {% include "../components/cp_form_identifi_1.twig" %}
                                {% include "../components/cp_form_identifi_2.twig" %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 d-flex flex-column">
                            <div class="h-100">
                                {% include "../components/cp_form_identifi_3.twig" %}
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-blue-dark mt-2 text-uppercase">Cập nhật</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-wrap">
        <div class="m_heading">
            <span class="m_title">
                Lịch sử giao dịch
            </span>
            {% include "../elements/Heading/_heading_1.twig" %}
        </div>
        <div class="card square">
            <div class="card-body">
                <div class="cus-table">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 5%">STT</th>
                                <th style="width: 10%" scope="col">BookingID</th>
                                <th style="width: 10%" scope="col">ĐVKD</th>
                                <th style="width: 15%" scope="col">Nghiệp vụ</th>
                                <th style="width: 15%" scope="col">Thiết bị</th>
                                <th style="width: 15%" scope="col">Thời gian</th>
                                <th style="width: 15%" scope="col">Trạng thái</th>
                                <th style="width: 15%" scope="col">Hiệu suất</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in 0..9 %}
                            <tr>
                                <td style="width: 5%">1</td>
                                <td style="width: 10%">
                                    <a href="#" class="link_href_071180 fw-medium">ABC123</a>
                                </td>
                                <td style="width: 10%">
                                    <a href="#" class="link_href_212529">Vùng 1</a>
                                </td>
                                <td style="width: 15%" class="fw-medium">Mở CIF</td>
                                <td style="width: 15%">
                                    <a href="#" class="link_href_212529 fw-medium">VTM Hà Nội 1</a>
                                </td>
                                <td style="width: 15%">210504 12:08:36</td>
                                <td style="width: 15%" class="status-1825aa fw-medium">Đang xử lý</td>
                                <td style="width: 15%">
                                    <i class="icon-percent fas fa-fingerprint"></i>
                                    <span class="text-percent">94%</span>
                                    <i class="icon-percent far fa-grin-beam"></i>
                                    <span>94%</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="m_pager mt-lg-4">
                    <input
                        type="hidden"
                        name="page"
                        id="pagination_page"
                        value=""
                    >
                    <ul>
                        <li class="text-page">Trang:</li>
                        <li class="first">
                            <a>Đầu</a>
                        </li>
                        <li class="disable">
                            <a href="javaScript:void(0);">Trước</a>
                        </li>
                        <li class="active">
                            <a ref="pagination" page-number="1">1</a>
                        </li>
                        <li class="">
                            <a ref="pagination" page-number="2">2</a>
                        </li>
                        <li class="disable">
                            <a href="javaScript:void(0);">Kế Tiếp</a>
                        </li>
                        <li>
                            <a>Cuối</a>
                        </li>
                        <li class="page-current">
                            <b>1</b>
                            tới
                            <b>2</b>
                            của 7 mục
                        </li>
                        <li class="vertical-dash">|</li>
                        <li class="text-page d-inline-flex">
                            Tìm trang : &nbsp;
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control
                                                                    square page-number"
                                    placeholder="Mã"
                                    onkeypress="find_page(event,
                                                                    this.value)"
                                >
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
