{% set page_title = 'Element' %}
{% extends "../elements/_base.twig" %}

{% set mainContentClassName = "'main_container'" %}

{% block content %}
<div class="container-fluid">
    <div class="header-page">
        <h1 class="header-page__title">All Element</h1>
    </div>
    <div className="pageElements">
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Heading 1
                </span>
                {% include "../elements/Heading/_heading_1.twig" %}
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    Body
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Heading 2
                </span>
                {% include "../elements/Heading/_heading_2.twig" %}
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    Body
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Heading Action
                </span>
                {% include "../elements/Heading/_heading_action.twig" %}
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    Body
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Heading Dropdown
                </span>
                {% include "../elements/Heading/_heading_dropdown.twig" %}
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    Body
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Heading Search
                </span>
                {% include "../elements/Heading/_heading_search.twig" %}
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    Body
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">Card Wrap</span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    Body
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Button
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    {% include "../elements/_button.twig" %}
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Notification
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    {% include "../elements/_notification.twig" %}
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Input
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    {% include "../elements/Form/_input.twig" %}
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Select
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    {% include "../elements/Form/_select.twig" %}
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Datepicker
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    {% include "../elements/Form/_date_picker.twig" %}
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    TextArea
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    {% include "../elements/Form/_textarea.twig" %}
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Chart average
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    {% include "../components/cp_chart_average.twig" %}
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Small Boxes
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    {% include "../components/cp_small_boxes.twig" %}
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Chart statistical
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    {% include "../components/cp_chart_statistical.twig" %}
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    List detail
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    {% include "../components/cp_list_detail.twig" %}
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Marker
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    {% include "../elements/_marker.twig" %}
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Table
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    {% include "../elements/_table.twig"%}
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Panigantion
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    {% include "../elements/_pagination.twig"%}
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Tabs
                </span>
            </div>
            <div class="card square h-100">
                {#
                <div class="card-body">
                    <span class="card__title "> Tabs-style 1</span>
                    {% include "../elements/Tabs/_tabStyle1.twig" %}
                    <span class="card__title "> Tabs-style 2</span>
                    {% include "../elements/Tabs/_tabStyle2.twig" %}
                </div>
                #}
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Slider
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    {% include "../elements/_slider.twig" %}
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="m_heading">
                <span class="m_title">
                    Status color
                </span>
            </div>
            <div class="card square h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <h4>
                                <u>Trạng thái</u>
                            </h4>
                            <div class="status-28a745">Thành công</div>
                            <div class="status-ff9800">Đã huỷ</div>
                            <div class="status-f44336">Thất bại</div>
                            <div class="status-1825aa">Đang xử lý</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
