{% set page_title = 'Menu' %}
{% extends "../elements/_base.twig" %}

{% set mainContentClassName = "'main_container'" %}

{% block content %}
<div class="container" style="margin-top: 70px; margin-bottom: 70px;">
    <h3>All Pages</h3>
    <ul class="menu">
        {% set menu = [
            {link: "element" },
            {link: "00_01_Login" },
            {link: "00_02_Forgot_Password" },
            {link: "00_04_Logout" },
            {link: "01_Dashboard" },
            {link: "02_01_Monitoring" },
            {link: "03_01" },
            {link: "03_02" },
        ] %}
        {% for link in menu %}
        <li>
            <a target="_blank" href="{{ link.link }}.html">{{ link.link }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<style>
    .menu {
        padding: 20px 0;
        margin: 0;
        list-style: none;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    .menu li {
        margin: 10px 0;
        padding-left: 25px;
        position: relative;
        width: 30%;
    }
    @media(max-width:991px){
    .menu li {
            width:50%;
        }
    }
    @media(max-width:480px){
    .menu li {
            width:100%;
        }
    }

    .menu li::before {
        background-color: rgb(226, 184, 76);
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        left: 3px;
        top: 6px;
    }

    .menu li::after {
        border: #e3ba54 1px solid;
        background: #fff;
        position: absolute;
        content: '';
        width: 9px;
        height: 9px;
        left: 0;
        top: 5px;
    }

    .menu a {
        color: #000;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        font-size: 16px;
    }

    .menu a:hover {
        color: #6d30ab;
    }
</style>
{% endblock %}
