<div class="form-group">
    <label>DatePicker No Border</label>
    <div class="cus-date-picker">
        <input class="form-control js-datepicker" type="text" readonly placeholder="dd-mm-yy" />
        <i class="date-icon fas fa-calendar-check"></i>
    </div>
</div>

<div class="form-group">
    <label class="mt-2">DatePicker Has Border</label>
    <div class="cus-date-picker2 ">
        <input class="form-control js-datepicker" type="text" readonly placeholder="dd-mm-yy" />
        <i class="date-icon fas fa-calendar-check"></i>
    </div>
</div>

<div class="form-group">
    <label class="mt-2">DatePicker Light</label>
    <div class="cus-date-picker3">
        <input class="form-control js-datepicker" type="text" readonly placeholder="dd-mm-yy" />
        <i class="date-icon fas fa-calendar-day"></i>
    </div>
</div>

<div class="form-group">
    <label class="mt-2">DatePicker Header</label>
    <div class="cus-date-picker4">
        <i class="date-icon fas fa-calendar-alt"></i> 
        <input class="form-control js-datepicker" type="text" readonly placeholder="dd-mm-yy" />
    </div>
</div>