<div class="form-group">
    <label class="label" for="">Input Has Border</label>
    <input type="text" class="form-control" placeholder="-">
</div>

<div class="form-group">
    <label class="label" for="">Input No Border</label>
    <div class="input-cus">
        <input type="text" class="form-control" placeholder="-">
    </div>
</div>

<div class="form-group ">
    <label class="label" for="">Input Search</label>
    <div class="input-search">
        <i class="fa fa-search input-icon"></i>
        <input type="text" class="form-control" placeholder="question">
    </div>
</div>

{# <div class="form-group ">
    <label class="label" for="">Input search</label>
    <div class="input-group mb-3 search">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-search"></i>
            </span>
        </div>

    </div>
</div> #}

<!-- <div class="form-group ">
    <label class="label" for="">Input password</label>
    <div class="password">
        <input type="password" class="form-control" placeholder="password">
        <i class="fa fa-eye-slash input-icon" aria-hidden="true"></i>
    </div>
</div> -->



<!-- <div class="form-group">
    <label class="label" for="">Input Reply</label>
    <div class="input-group mb-3 reply">
        <input type="text" class="form-control" placeholder="Input Reply">
        <i class="fas fa-paperclip input-icon"></i>
        <div class="input-group-append">
            <span class="input-group-text"><i class="fab fa-telegram-plane"></i></span>
        </div>
    </div>
</div> -->