<label class="label">
    Select 1
</label>
<div class="select_box">
    <select class="colo_bg_23262d" name="" id="">
        <option style="display:none"></option>
        <option value="1">Nam</option>
        <option value="1">Nữ</option>
        <option value="1">Khác</option>
    </select>
    <i class="icon_select las la-angle-down"></i>
</div>

<div class="cus-select2">
    <div class="form-group">
        <label class="label">
            Select 2
        </label>
        <select class="js-seclect2 form-control">
            <option value="CA">- All -</option>
            <option value="NV">Nevada</option>
            <option value="OR">Oregon</option>
            <option value="WA">Washington</option>
        </select>
    </div>
</div>

{# <div class="select-purple">
    <div class="form-group">
        <label class="label">
            Select Purple
        </label>
        <select class="js-seclect2 form-control">
            <option value="CA">- All -</option>
            <option value="NV">Nevada</option>
            <option value="OR">Oregon</option>
            <option value="WA">Washington</option>
        </select>
    </div>
</div> #}