<div class=" nav-tabs-style-2">
    <div class="tab-wrapper mt-3" role="tablist">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home1">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#home2">Menu 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#home3">Menu 2</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home1" class=" tab-pane active" role="tabpanel">
                <div class="group-img">
                    <img src="../../assets/avt_admin.jpg" alt="" class="tab_img">
                    <img src="../../assets/avt_admin.jpg" alt="" class="tab_img">
                    <img src="../../assets/avt_admin.jpg" alt="" class="tab_img">
                    <img src="../../assets/avt_admin.jpg" alt="" class="tab_img">
                </div>
            </div>
            <div id="home2" class=" tab-pane " role="tabpanel">
                <div class="group-img">
                    <img src="../../assets/avt_admin.jpg" alt="" class="tab_img">
                    <img src="../../assets/avt_admin.jpg" alt="" class="tab_img">
                    <img src="../../assets/avt_admin.jpg" alt="" class="tab_img">
                    <img src="../../assets/avt_admin.jpg" alt="" class="tab_img">
                </div>
            </div>
            <div id="home3" class=" tab-pane " role="tabpanel">
                <div class="group-img">
                    <img src="../../assets/avt_admin.jpg" alt="" class="tab_img">
                    <img src="../../assets/avt_admin.jpg" alt="" class="tab_img">
                    <img src="../../assets/avt_admin.jpg" alt="" class="tab_img">
                    <img src="../../assets/avt_admin.jpg" alt="" class="tab_img">
                </div>
            </div>
        </div>
    </div>
</div>
