.header {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    background-color: #ffffff;
    height: 65px;
    color: #fff;
    position: fixed;
    width: calc(100% - 270px);
    border-bottom: solid 1px #f2f2f2;
    z-index: 10;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    @media (max-width: 991px) {
        justify-content: space-between;
        width: 100%;
    }
    &-toggle {
        font-size: 25px;
        color: #071180;
        margin-left: 13px;
        display: none;
        @media (max-width: 991px) {
            display: block;
        }
        &.active {
            .icon:before {
                content: "\f00d";
            }
        }
    }
    &__toggle_icon {
        cursor: pointer;
        padding-left: 30px;
        margin-right: auto;

        @media (max-width: 767px) {
            right: 10px;
        }

        &.active {
            span {
                &:last-child {
                    width: 100%;
                }
            }
        }

        span {
            @include transition(0.2s ease-in-out);
            display: block;
            position: relative;
            padding: 3px 0;
            width: 20px;

            &::before {
                content: "";
                position: absolute;
                background-color: #304460;
                width: 100%;
                height: 2px;
            }

            &:last-child {
                width: 50%;
            }

            &:first-child {
                width: 50%;
            }
        }

        &:hover {
            span {
                &:last-child {
                    width: 100%;
                }

                &:first-child {
                    width: 100%;
                }
            }
        }
    }

    &_text_center {
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        @include flexbox;
        @include align-items(center);

        .icon {
            display: none;
        }

        @media (max-width: 767px) {
            margin-right: 20px;

            .icon {
                @include animation(fa-spin 5s infinite linear);
                display: block;
                font-size: 25px;
                color: #304460;

                &.active {
                    &::before {
                        content: "\f085";
                    }
                }
            }
        }
    }
    &_logo {
        max-width: 55px;
        display: none;
        @media (max-width: 991px) {
            display: block;
        }

        img {
            width: 100%;
        }
    }
}

.user {
    @include flexbox;
    @include align-items(center);
    margin-right: 20px;
    position: relative;

    @media (max-width: 991px) {
        @include align-items(center);
        padding: 10px 20px;
        position: absolute;
        left: 0;
        right: 0;
        background: #ffffff;
        margin: 0;
        width: 100%;
        z-index: -1;
        opacity: 0;
        top: 0;
        transition: all 0.2s ease;
    }

    @media (max-width: 480px) {
        @include flex-wrap(wrap);

        .user__wrap {
            @include justify-content(center);
            margin-bottom: 15px;
            width: 100%;
        }

        .user__notification {
            order: 2;
            flex: 1;
            margin-right: 0;
            @include justify-content(flex-end);
        }

        .user__langs {
            margin-bottom: 15px;
        }

        .cus-date-picker4 {
            margin-bottom: 15px;
        }
    }

    &.active {
        @media (max-width: 991px) {
            top: 62px;
            z-index: 9;
            opacity: 1;
            @include justify-content(space-between);
        }
    }

    &:hover {
        cursor: pointer;
    }

    &__wrap {
        @media (max-width: 767px) {
            margin-left: auto;
        }

        .icon {
            color: #1825aa;
            font-size: 16px;
            padding: 12px;
            border-radius: 50%;
            background-color: #f2f3f9;
            margin-left: 10px;
            position: relative;

            span {
                @include flex_center;
                @include fw-normal;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 8px;
                background: #f46565;
                border-radius: 50%;
                color: #fff;
                width: 15px;
                height: 15px;
            }
        }
    }

    &__avatar {
        @include flex_center;

        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 8px 0 0;

        img {
            width: 100%;
        }
    }

    &__info {
        @include flexbox;
        @include flex-direction(column);

        .name {
            @include fw-medium;
            font-size: 14px;
            color: #f4a239;
            max-width: 180px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media (max-width: 767px) {
                max-width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .position {
            font-size: 12px;
            @include fw-light;
            color: #bababa;
        }
    }

    &__actions {
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        position: absolute;
        right: 20px;
        top: 50px;
        min-width: 145px;
        display: none;
        visibility: hidden;
        z-index: 3;

        @media (max-width: 767px) {
            position: absolute;
            right: 20px;
            width: auto;
            top: 60px;
        }

        @media (max-width: 480px) {
            width: 100%;
            left: 0;
        }

        &.active {
            opacity: 1;
            display: block;
            visibility: visible;
        }

        ul {
            @include flex-direction(column);
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                @include flexbox;
                @include align-items(center);
                color: #304460;
                padding: 8px 12px;

                &:not(:last-child) {
                    border-bottom: solid 1px #dfdfdf;
                }

                &:hover {
                    background-color: #ddd;
                    cursor: pointer;
                }

                a {
                    color: #304460;
                    text-decoration: none;
                }
            }

            .icon {
                padding-right: 8px;
            }

            .log-out {
                color: #ff3d3d;

                .icon {
                    color: #ff3d3d;
                }

                a {
                    color: #ff3d3d;
                    text-decoration: none;
                }
            }
        }
    }

    &__notification {
        @include flexbox;
        @include align-items(center);
        margin-right: 15px;

        .item {
            margin: 0 15px;
            position: relative;

            @media (max-width: 767px) {
                &:nth-child(1) {
                    margin-left: 0;
                }
            }

            &.active {
                .icon {
                    color: #717c99;
                }
            }
        }

        .number {
            font-style: normal;
            font-size: 14px;
            color: #0080ff;
            width: 22px;
            height: 22px;
            line-height: normal;
            border: 1px solid #0080ff;
            background-color: #ffffff;
            border-radius: 50%;
            position: absolute;
            top: -11px;
            right: -8px;
            @include flex_center;
        }

        .icon {
            font-size: 24px;
            color: #ffffff;
        }
    }

    &__langs {
        @include flexbox;
        // margin-right: 15px;
        padding: 8px 20px;
        background: #f2f3f9;
        border-radius: 20px;

        img {
            width: 100%;
        }

        &--img {
            max-width: 30px;
        }

        &--select {
            padding-left: 8px;
            @include flexbox;
            @include align-items(center);

            @media (max-width: 767px) {
                position: relative;
            }

            &.show {
                .user__langs--selected {
                    &::before {
                        content: "\f106";
                    }
                }
            }
        }

        &--selected {
            padding-right: 19px;
            position: relative;
            color: #304460;

            &::before {
                position: absolute;
                content: "\f107";
                font-family: "Line Awesome Free";
                font-weight: 900;
                font-size: 11px;
                color: #0080ff;
                right: 0;
                top: 3px;
            }
        }

        &--list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: none;
            min-width: 100px;
            border-radius: 0;
            margin-left: -49px;
            background: #fff;
            color: #000;
            box-shadow: none;
            top: 18px !important;

            @media (max-width: 767px) {
                transform: none !important;
                margin-top: 30px;
                width: 100% !important;
                float: none;
                left: 0 !important;
                margin: 10px 0 !important;
            }

            li {
                @include flexbox;
                @include align-items(center);
                padding: 5px 10px;

                &:hover {
                    background: #ddd;
                }

                .icon {
                    margin-right: 8px;
                    max-width: 30px;
                }
            }
        }

        .dropdown-toggle::after {
            display: none;
        }

        figure {
            margin-bottom: 0;
        }
    }
}
