.sidebar {
    @include transition(all 0.2s ease);
    position: fixed;
    width: 270px;
    z-index: 10;
    @media (max-width: 991px) {
        transform: translateX(-270px);
        transition: all 0.3s ease;
    }
    &.active {
        transform: translateX(0);
    }
    .nav {
        .nav-item {
            &.active {
                .menu_child {
                    display: block;
                }
            }

            .menu_child {
                display: none;
            }
        }

        .nav-link {
            @include flexbox;
            @include align-items(center);
            color: #304460;
            padding: 10px;
            position: relative;
            white-space: nowrap;
            cursor: pointer;

            &.active,
            &:hover {
                // background-color: #1c204f;

                .text {
                    color: #ef2b2b;
                }

                .icon {
                    color: #ef2b2b;
                }

                .icon_svg_menu {
                    .color_main {
                        fill: #0080ff;
                    }
                }
            }

            .text {
                @include fw-normal;
                margin-left: 15px;
                font-size: 15px;
                color: #fff;
                text-transform: uppercase;
            }

            .icon-li {
                margin-left: auto;
                color: white;
                padding: 4px;
                border-radius: 50%;
                border: solid 1px rgba(245, 245, 245, 0.09);
                background-color: rgba(255, 255, 255, 0.08);
                font-size: 8px;
            }

            .icon {
                width: 30px;
                height: 30px;
                border-radius: 2px;
                box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.16);
                background-color: #070c46;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 13px;
                color: #fdfdfd;
                line-height: 1.31;
            }

            .number {
                margin-left: auto;
                color: #0080ff;
                border: 1px solid #0080ff;
                border-radius: 50%;
                width: 22px;
                height: 22px;
                font-size: 14px;
                text-align: center;
                position: relative;
            }

            .over {
                font-size: 10px;
                padding-top: 3px;
                padding-right: 4px;

                &::after {
                    content: "+";
                    position: absolute;
                    right: 3px;
                    top: -2px;
                }
            }
        }

        .nav-icon {
            position: relative;
        }

        .icon_lock {
            @include flex_center;
            position: absolute;
            right: -4px;
            bottom: -3px;
            font-size: 11px;
            color: #ff3d3d;
            width: 17px;
            height: 17px;
            background-color: #23262d;
            border-radius: 50%;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 300;
        color: #ffffff;
        padding: 18px 15px;
        display: block;
        @include fw-sr-light;
    }

    &__user {
        margin: 5px;
        &--avatar {
            width: 59px;
            height: 59px;
            padding: 6px;
            margin-right: 12px;
            border: solid 1px rgba(255, 255, 255, 0.13);
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;

            img {
                width: 47px;
                height: 47px;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        &--info {
            // display: none;
            @include flex-direction(column);
            color: #f5f5f5;
            .name {
                font-size: 16px;
                @include fw-sr-semibold;
            }

            .position,
            .graduation {
                display: block;
                font-size: 13px;
                font-style: italic;
                @include fw-sr-light;
            }
        }
    }

    &__wrap {
        @include flexbox;
        @include flex-direction(column);
        @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.1));
        background-color: #071180;
        position: relative;
        top: 0;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__logo {
        @include transition(all 0.2s ease);
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        padding: 0 15px;
        min-height: 65px;
        // border: solid 1px #f2f2f2;
        position: relative;

        .logo_full {
            display: block;
        }

        img {
            width: 100%;
        }

        .link {
            max-width: 80px;
            display: block;
        }
    }

    &__sticky {
        @include scrollbar;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        @include flexbox;
        @include flex-direction(column);
        @include justify-content(space-between);

        position: relative;
        &::before {
            position: absolute;
            content: "";
            height: 180px;
            width: 100%;
            bottom: 0;
            left: 0;
        }
    }

    &__item {
        margin-top: 20px;
        position: relative;

        &.has_delete,
        &.has_checkbox {
            .sidebar__heading {
                @include flexbox;
                @include align-items(center);
            }

            .nav-link {
                @include flexbox;
                @include align-items(center);
            }
        }

        &.has_dropdown {
            &:hover {
                .sidebar__heading {
                    color: #f4a239;
                    cursor: pointer;

                    &:before {
                        color: #f4a239;
                    }
                }
            }
        }
    }

    &__footer {
        @include flex_center;
        @include flex-direction(column);
        padding: 15px 15px 20px 15px;

        .copyright {
            font-size: 12px;
            color: #666b77;
        }
    }
}

.copy-right {
    color: #fff;
    text-align: center;
    font-family: $RobotoLight;
    margin-bottom: 14px;
    font-size: 13px;
}
