//btn
$blue: #2196f3;
$green: #28a745;
$blue_strong: #071180;
$red: #f44336;

button {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn {
    @include fw-normal;
    @include flexbox;
    @include align-items(center);
    border-radius: 0;
    outline: none;
    display: inline-block;
    min-height: 40px;
    min-width: 110px;
    font-size: 16px;

    @media (max-width: 480px) {
        padding: 7px 10px 4px 10px;
    }

    &:focus {
        box-shadow: unset;
    }

    &:hover {
        text-decoration: none;
        opacity: 0.8;
    }
}

.btn-blue {
    background-color: $blue;
    border: solid 1px $blue;
    color: #fff;

    &:hover {
        color: #fff;
        border: solid 1px #406add;
        background-color: #406add;
    }
}

.btn-blue-outline {
    border: solid 1px $blue;
    background-color: #fff;
    color: $blue;

    &:hover {
        color: #fff;
        border: solid 1px #406add;
        background-color: $blue;
    }
}

.btn-blue-n-bg {
    background-color: #fff;
    color: $blue;

    &:hover {
        color: #032580;
    }
}

.btn-red {
    background-color: $red;
    color: #fff;
    border: solid 1px $red;

    &:hover {
        background-color: #c71c1c;
        border-color: #c71c1c;
        color: #fff;
    }
}

.btn-red-outline {
    border: 1px solid $red;
    background-color: #ffffff;
    color: $red;

    &:hover {
        background-color: #e94c4c;
        border-color: #e94c4c;
        color: #fff;
    }
}

.btn-green {
    background-color: $green;
    color: #fff;
    border: solid 1px $green;

    &:hover {
        background-color: #279741;
        border-color: #279741;
        color: #fff;
    }
}

.btn-green-outline {
    border: 1px solid $green;
    background-color: #ffffff;
    color: $green;

    &:hover {
        background-color: #279741;
        border-color: #279741;
        color: #fff;
    }
}

.btn-icon {
    font-size: 14px;
    margin-right: 5px;
}

.btn-purple {
    background-color: #6d30ab;
    color: #fff;
    border: solid 1px #6d30ab;
    padding: 7px 30px;

    &:hover {
        background-color: #fff;
        border-color: #4a0b8a;
        color: #4a0b8a;
    }
}

.btn-blue-dark {
    background-color: #1825aa;
    color: #fff;
    border: solid 1px #1825aa;
    padding: 7px 30px;

    &:hover {
        opacity: 0.8;
        color: #fff;
    }
}
