.card {
    border-radius: 0;
    border: none;
    margin-bottom: 30px;
    @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.08));
}

.card-box {
    @include flexbox;
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    .title {
        @include fw-medium;
        font-size: 19px;
        color: #212529;
    }
    .actions {
        @include flexbox;
        @include align-items(center);
        .input-search {
            background-color: #f3f3f3;
            max-width: 117px;
            height: 30px !important;
            .form-control {
                height: 30px !important;
                background-color: #f3f3f3;
            }
        }
    }
}

.card-body {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06) !important;
}

.card-wrap {
    margin-bottom: 30px;
}
