$blue: #2196f3;
$green: #28a745;
$blue_strong: #071180;
$red: #f44336;

.color_2196f3 {
    color: $blue !important;
}

.color_ff9800 {
    color: #ff9800 !important;
}

.color_071180 {
    color: $blue_strong !important;
}

.color_071180 {
    color: #071180 !important;
}

.color_fd7e14 {
    color: #fd7e14 !important;
}
.color_353535 {
    color: #353535 !important;
}

.link_href_071180 {
    text-decoration: underline !important;
    color: #071180 !important;
    cursor: pointer !important;

    a {
        color: #071180 !important;

        &:hover {
            color: initial;
        }
    }

    &:hover {
        color: initial;
    }
}

.link_href_212529 {
    text-decoration: underline !important;
    color: #212529 !important;

    a {
        color: #212529 !important;

        &:hover {
            color: initial;
        }
    }

    &:hover {
        color: initial;
    }
}

.link_href_1825aa {
    text-decoration: underline !important;
    color: #1825aa !important;

    a {
        color: #1825aa !important;

        &:hover {
            color: initial;
        }
    }

    &:hover {
        color: initial;
    }
}

.link_href_000000 {
    text-decoration: underline !important;
    color: #000000 !important;

    a {
        color: #000000 !important;

        &:hover {
            color: #1825aa !important;
        }
    }

    &:hover {
        color: #1825aa !important;
    }
}

.uni_text_1825aa {
    color: #1825aa !important;
}

.uni_text_02771d {
    color: #02771d !important;
}

.uni_text_f61f1f {
    color: #f61f1f !important;
}

.uni_text_28a745 {
    color: #28a745 !important;
}
