.datepicker table tr td,
.datepicker table tr th {
    width: 40px;
    text-align: center;
}

.cus-date-picker {
    position: relative;

    .date-icon {
        @include transform(translateY(-50%));
        position: absolute;
        font-size: 13px;
        top: 50%;
        right: 15px;
        cursor: pointer;
        color: #1825aa;
        z-index: 0;

        @media (max-width: 991px) {
            font-size: 12px;
        }
    }

    .form-control {
        border: 1px solid #f2f3f9;
        border-radius: 0;
        color: #212529;

        @mixin placeholderInputStyles {
            @include fw-normal;
            font-size: 16px;
            color: #212529;
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            @include placeholderInputStyles;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            @include placeholderInputStyles;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            @include placeholderInputStyles;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            @include placeholderInputStyles;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.cus-date-picker2 {
    position: relative;

    .date-icon {
        @include transform(translateY(-50%));
        position: absolute;
        font-size: 16px;
        top: 50%;
        right: 15px;
        cursor: pointer;
        color: #1825aa;
        z-index: 0;

        @media (max-width: 991px) {
            font-size: 12px;
        }
    }

    .form-control {
        border: solid 1px #1825aa !important;
        background-color: #ffffff;
        border: 0;
        border-radius: 0;
        color: #000000;

        @mixin placeholderInputStyles {
            @include fw-normal;
            font-size: 16px;
            color: #212529;
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            @include placeholderInputStyles;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            @include placeholderInputStyles;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            @include placeholderInputStyles;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            @include placeholderInputStyles;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.cus-date-picker3 {
    position: relative;

    .date-icon {
        @include transform(translateY(-50%));
        position: absolute;
        font-size: 12px;
        top: 50%;
        right: 15px;
        cursor: pointer;
        color: #b7b2b2;
        z-index: 0;

        @media (max-width: 991px) {
            font-size: 12px;
        }
    }

    .form-control {
        @include fw-normal;
        font-size: 13px;
        color: #353535;
        background-color: #f3f3f3;
        border: 1px solid #f3f3f3;
        border-radius: 1px;
        height: 30px !important;
        color: #353535;

        @mixin placeholderInputStyles {
            @include fw-normal;
            font-size: 13px;
            color: #212529;
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            @include placeholderInputStyles;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            @include placeholderInputStyles;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            @include placeholderInputStyles;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            @include placeholderInputStyles;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.cus-date-picker4 {
    position: relative;
    margin-right: 10px;
    max-width: 140px;

    .date-icon {
        @include transform(translateY(-50%));
        position: absolute;
        font-size: 16px;
        top: 50%;
        left: 16px;
        cursor: pointer;
        color: #1825aa;
        z-index: 0;

        @media (max-width: 991px) {
            font-size: 12px;
        }
    }

    .form-control {
        @include fw-normal;
        font-size: 15px;
        color: #353535;
        background-color: #f2f3f9;
        border: 1px solid #f2f3f9;
        border-radius: 50px;
        color: #353535;
        padding-left: 35px;
        height: 40px;

        @mixin placeholderInputStyles {
            @include fw-normal;
            font-size: 15px;
            color: #212529;
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            @include placeholderInputStyles;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            @include placeholderInputStyles;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            @include placeholderInputStyles;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            @include placeholderInputStyles;
        }

        &:focus {
            box-shadow: none;
        }
    }
}