// .dropdown-menu {
//     min-width: 107px !important;
//     box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
//     background-color: #ffffff;
//     border-radius: 0;
//     padding: 0;
//     border: none;

//     .dropdown-item {
//         padding: 8px 10px;
//         line-height: normal;
//         color: #242b31;

//         &:not(:last-child) {
//             margin-bottom: 3px;
//         }

//         &:focus,
//         &:hover {
//             background-color: #fff;
//             color: #0080ff;
//         }

//         &.del {
//             color: #ff3d3d;
//         }
//     }
// }

// .icon-dots {
//     font-size: 22px;
//     color: #0080ff;
// }

.btn_dropdown_outline {
    @include fw-medium;
    border: 1px solid #1825aa;
    background-color: #ffffff;
    color: #1825aa;
    padding: 8px 20px;
    padding-right: 40px;
    margin: 0;
    text-transform: none;
    cursor: pointer;
    font-size: 15px;
    min-width: 72px;
    &:after {
        border: none;
        content: "\f107";
        font-family: "Line Awesome Free";
        font-weight: 900;
        font-size: 11px;
        color: #1825aa;
    }
}
