.form-group {
    .label {
        @include fw-medium;
        color: #000000;
        margin-bottom: 0px;
    }

    .form-control {
        @include fw-normal;
        height: 35px;
        box-shadow: none;
        border-radius: 0;
        border: none;
        color: #212529;
        font-size: 14px;
        background-color: #f2f3f9;

        &:disabled {
            background-color: #f5f6f6;
            color: #0a0723;
        }

        @mixin placeholderInputStyles {
            @include fw-light;
            color: #999999;
            font-style: italic;
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            @include placeholderInputStyles;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            @include placeholderInputStyles;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            @include placeholderInputStyles;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            @include placeholderInputStyles;
        }
    }
}

.search {
    @include flexbox;
    @include align-items(center);
    border: 1px solid #d2d2d2;
    border-radius: 0;
    background-color: #ffffff;

    &:hover,
    &:active {
        border: 1px solid #0080ff;
    }

    .form-control {
        border: none;
        padding: 0 7px;

        &:hover,
        &:active {
            border: unset;
        }

        @mixin placeholderInputStyles {
            @include fw-normal;
            font-size: 16px;
            color: #666b77;
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            @include placeholderInputStyles;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            @include placeholderInputStyles;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            @include placeholderInputStyles;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            @include placeholderInputStyles;
        }
    }

    .input-group-prepend {
        height: 40px;
        width: 30px;
    }

    .input-group-text {
        background-color: unset;
        color: #0080ff;
        cursor: pointer;
        font-size: 18px;
        border: none;
    }
}

.reply {
    @include flexbox;
    @include align-items(center);
    background-color: #f5f6f6;
    border-radius: 0;

    .input-group-prepend {
        height: 40px;
    }

    .input-group-text {
        background-color: #0080ff;
        color: #ffffff;
        cursor: pointer;
        font-size: 22px;
        height: 40px;
        border: none;
        border-radius: 0px 3px 3px 0px;
    }

    .form-control {
        border: none;
        background-color: unset;

        &:hover,
        &:active {
            border: none;
        }

        @mixin placeholderInputStyles {
            @include fw-normal;
            font-size: 16px;
            color: #666b77;
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            @include placeholderInputStyles;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            @include placeholderInputStyles;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            @include placeholderInputStyles;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            @include placeholderInputStyles;
        }
    }

    .input-icon {
        cursor: pointer;
        padding-right: 15px;
    }
}

.password {
    @include flexbox;
    @include align-items(center);
    border: 1px solid #d2d2d2;
    border-radius: 0;
    background-color: #ffffff;

    &:hover,
    &:active {
        border: 1px solid #0080ff;
    }

    .form-control {
        box-shadow: none;
        border: none;

        &:hover,
        &:active {
            border: none;
        }
    }

    .input-icon {
        cursor: pointer;
        padding-right: 10px;
    }
}

.input-search {
    @include flexbox;
    @include align-items(center);
    border-radius: 1px;
    background-color: #ffffff;
    position: relative;

    .form-control {
        box-shadow: none;
        border: 1px solid #f3f3f3;
        background-color: #ffffff;
        border-radius: 1px;
        padding-right: 25px;
        &:hover,
        &:active {
            border: 1px solid #0080ff;
        }
    }

    .input-icon {
        position: absolute;
        right: 12px;
        cursor: pointer;
        font-size: 12px;
        color: #b7b2b2 !important;
    }
}

.input-cus {
    border: 1px solid #f2f3f9;
    &:hover,
    &:active {
        border: 1px solid #0080ff;
    }
    .form-control {
        border: none;
        border-radius: 0;
        background-color: #f2f3f9;
        &:hover,
        &:active {
            border: none;
        }
    }
}
