.marker {
    display: flex;
    justify-content: center;
    width: fit-content;
    border-width: 11px;
    position: relative;
    color: #ffffff;
    background-color: #ffffff;
    border-color: #ffffff #ffffff transparent #ffffff;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 13px 14px 0 rgba(2, 6, 113, 0.27);

    &:after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 10px solid #fff;
        border-bottom: 5px solid transparent;
        left: 50%;
        transform: translateX(-50%);
        bottom: -23px;
    }
    .point {
        &-28a745 {
            padding: 0 8px;
            border-radius: 8px;
            background-color: #28a745;
        }
        &-ff9800 {
            padding: 0 8px;
            border-radius: 8px;
            background-color: #ff9800;
        }
        &-1825aa {
            padding: 0 8px;
            border-radius: 8px;
            background-color: #1825aa;
        }
    }
}