/*use : @include {mixin-name}*/

@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*fontBody*/
@mixin fontf_body {
	font-family: $RobotoRegular;
}

@mixin fonts_body {
	font-size: 14px;
}

@mixin fw-bold {
	font-weight: bold;
	font-family: $RobotoBold;
}

@mixin fw-medium {
	font-weight: 500;
	font-family: $RobotoMedium;
}

@mixin fw-light {
	font-weight: 300;
	font-family: $RobotoLight;
}

@mixin fw-normal {
	font-weight: normal;
	font-family: $RobotoRegular;
}

@mixin fw-sr-light {
	font-weight: 300;
	font-family: $SourceSansPro;
}
@mixin fw-sr-regular {
	font-weight: 400;
	font-family: $SourceSansPro;
}
@mixin fw-sr-semibold {
	font-weight: 600;
	font-family: $SourceSansProSemibold;
}
@mixin fw-sr-bold {
	font-weight: 700;
	font-family: $SourceSansPro;
}
@mixin fw-sr-back {
	font-weight: 900;
	font-family: $SourceSansPro;
}

/*transform*/
@mixin transform($value) {
	-webkit-transform: $value;
	-moz-transform: $value;
	-ms-transform: $value;
	transform: $value;
}

/*transition*/
@mixin transition($value) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-ms-transition: $value;
	transition: $value;
}

/*animation*/
@mixin animation($value) {
	-webkit-animation: $value;
	/* Safari 4+ */
	-moz-animation: $value;
	/* Fx 5+ */
	-o-animation: $value;
	/* Opera 12+ */
	animation: $value;
	/* IE 10+, Fx 29+ */
}

/*box-shadow*/
@mixin box-shadow($value) {
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	-ms-box-shadow: $value;
	box-shadow: $value;
}

/*ellipsis*/
@mixin ellipsis() {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin placeholder {
	font-weight: 300;
	font-style: italic;
	color: #9a9a9a;
	font-family: $RobotoLight;
}

/*placeholderInput*/
@mixin placeholderInputStyles {
	font-style: italic;
	color: #989898;
	font-weight: 300;
}

@mixin placeholderInput {
	&::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		@include placeholderInputStyles;
	}

	&::-moz-placeholder {
		/* Firefox 19+ */
		@include placeholderInputStyles;
	}

	&:-ms-input-placeholder {
		/* IE 10+ */
		@include placeholderInputStyles;
	}

	&:-moz-placeholder {
		/* Firefox 18- */
		@include placeholderInputStyles;
	}
}

/*display flex*/
@mixin flexbox {
	display: -webkit-box;
	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;
	/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;
	/* TWEENER - IE 10 */
	display: -webkit-flex;
	/* NEW - Chrome */
	display: flex;
}

@mixin flex-inline {
	display: -ms-inline-flexbox;
	display: inline-flex;
}

@mixin order($value) {
	-webkit-box-ordinal-group: $value;
	/* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-ordinal-group: $value;
	/* OLD - Firefox 19- */
	-ms-flex-order: $value;
	/* TWEENER - IE 10 */
	-webkit-order: $value;
	/* NEW - Chrome */
	order: $value;
}

@mixin flex($value) {
	-webkit-box-flex: $value;
	/* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: $value;
	/* OLD - Firefox 19- */
	-webkit-flex: $value;
	/* Chrome */
	-ms-flex: $value;
	/* IE 10 */
	flex: $value;
}

// flex-start | flex-end | center | baseline | stretch
@mixin align-items($value) {
	-webkit-box-align: $value;
	-moz-box-align: $value;
	-ms-flex-align: $value;
	-webkit-align-items: $value;
	align-items: $value;
}

// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($value) {
	-webkit-align-content: $value;
	-moz-align-content: $value;
	-ms-align-content: $value;
	align-content: $value;
}

// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($value) {
	-webkit-align-self: $value;
	-moz-align-self: $value;
	-ms-align-self: $value;
	align-self: $value;
}

// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($value) {
	-webkit-justify-content: $value;
	-moz-justify-content: $value;
	-ms-justify-content: $value;
	justify-content: $value;
	-ms-flex-pack: $value;
}

// row | row-reverse | column | column-reverse
@mixin flex-direction($value) {
	-webkit-flex-direction: $value;
	-moz-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}

// nowrap | wrap | wrap-reverse
@mixin flex-wrap($value) {
	-webkit-flex-wrap: $value;
	-moz-flex-wrap: $value;
	-ms-flex-wrap: $value;
	flex-wrap: $value;
}

// flex_center
@mixin flex_center() {
	@include flexbox;
	@include align-items(center);
	@include justify-content(center);
}
