.m_pager .form-group {
    margin-bottom: 0;
}

.m_pager .text-page {
    align-items: center;
}

.m_pager ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.m_pager ul li {
    display: inline-block;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

.m_pager ul li a {
    background-color: #f9f9f9;
    border: solid 1px #f9f9f9;
    color: #6d6d6d;
    font-size: 14px;
    padding: 5px 11px;
    display: block;
    transition: all 0.1s;
    text-decoration: none !important;
}

.m_pager ul li a:hover {
    border-color: #000;
    color: #000;
}

@media (max-width: 480px) {
    .m_pager ul li a {
        margin: 5px 0;
    }
}

.m_pager .active a {
    border-color: #000;
    color: #000;
}

.m_pager .disable a {
    color: #6d6d6d;
    font-weight: 200;
    opacity: 0.9;
    background-color: #f9f9f9;
}

.m_pager .vertical-dash {
    color: #6d6d6d;
    font-weight: 200;
    opacity: 0.9;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}

.m_pager .page-number {
    max-width: 65px;
    height: 25px;
    line-height: normal;
    border: 1px solid #d8d8d8;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
}

.m_pager .text-page {
    padding-right: 12px;
    cursor: auto;
}

@media (max-width: 480px) {
    .m_pager .text-page {
        width: 100%;
        margin-bottom: 5px;
    }
}

.m_pager .page-current {
    padding-left: 12px;
}

@media (max-width: 480px) {
    .m_pager .page-current {
        width: 100%;
        margin-top: 5px;
        padding-left: 0;
    }
}
