.m-slide {
    .slider-for {
        width: 500px;
        height: 250px;
        margin: 30px auto 16px;
        overflow: hidden;

        @media (max-width: 767px) {
            width: auto;
            height: auto;
        }
    }

    img {
        width: 100%;
        min-height: 100%;
    }

    .slider-nav {
        width: 500px;
        height: 85px;
        margin: auto;

        @media (max-width: 767px) {
            width: auto;
            height: auto;
        }

        .item {
            padding: 0 10px;
        }
    }

    .slider-nav .slick-track {
        height: 85px;
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 50;
        // background-color: red;
    }



    .slick-prev {
        left: -30px;
    }

    .slick-next {
        right: -30px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 15px;
        color: red;
    }
}