.tab-wrapper {
    .nav-tabs {
        border-bottom: 1px solid #071180;

        @media(max-width:450px) {
            border-bottom: unset;

        }
    }

    .nav-item {
        text-align: center;

        @media(max-width:450px) {
            width: 100%;
        }
    }

    .nav-link {
        @include fw-normal;
        font-size: 16px;
        border-radius: unset;
        text-transform: uppercase;
        color: #353535;

        &.active,
        &:hover {
            @include fw-medium;
            color: #1825aa;
            border-color: #1825aa #1825aa #ffffff;

            @media(max-width:450px) {
                width: 100%;
                text-align: center;
                border-color: #1825aa;
            }
        }
    }

    .group-img {
        @include scrollbarTable;
        @include flexbox;
        width: 100%;
        overflow: auto;

        .tab_img {
            max-width: 228px;
            max-height: 273px;
            width: 100%;
            height: 100%;
            padding: 20px 12px;

            &:first-child {
                padding: 20px 12px 20px 0;
            }
        }
    }
}

.nav-tabs-style-2 {
    .tab-wrapper {
        .nav-tabs {
            border-bottom: 1px solid #dee2e6;

            @media(max-width:450px) {
                border-bottom: unset;

            }
        }

        .nav-link {
            @include fw-normal;
            font-size: 16px;
            border-radius: 3px;
            color: #2196f3;
            text-transform: unset;

            &.active,
            &:hover {
                color: #212529;
                border-color: #dee2e6 #dee2e6 #ffffff;

                @media(max-width:450px) {
                    width: 100%;
                    text-align: center;
                    border-color: #dee2e6;
                }
            }

        }

        .nav-item {
            @media(max-width:450px) {
                width: 100%;
                text-align: center;

            }
        }
    }
}