.cus-table {
    @include scrollbarTable;
    margin-bottom: 15px;
    overflow: auto;

    &.max-height-300 {
        max-height: 300px;
    }

    table {
        min-width: 1300px;
        width: calc(100% - 1px);
    }

    tbody {
        border: solid 1px rgba(222, 226, 230, 0.5);
    }

    th {
        @include fw-medium;
        text-transform: uppercase;
        color: #1825aa;
        font-size: 14px;
        padding: 5px 15px;
        border-bottom: solid 1px #1825aa;
        &:first-child {
            padding: 5px 15px 5px 0;
        }
    }

    td {
        color: #212529;
        font-size: 14px;
        padding: 15px;
        border-bottom: solid 1px rgba(222, 226, 230, 0.5);
    }
    .text-percent {
        padding-right: 7px;
    }
    .icon-percent {
        font-size: 14px;
        color: #1825aa;
        padding-right: 7px;
    }
}

.table-icon {
    font-size: 15px;
    cursor: pointer;
}

.table-fixed {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    overflow-x: none;
    padding-right: 10px;

    table {
        display: table;
        table-layout: fixed;
        width: 100%;
        min-width: 1200px;

        tbody {
            @include scrollbarTable;
            margin-bottom: 10px;
            display: block;
            overflow: auto;
            max-height: 535px;
            height: 100%;
            width: calc(100% + 10px);
        }

        tr {
            display: table;
            width: 100%;
        }
    }
}

.table-custom {
    table {
        min-width: 1100px;
    }
    th {
        text-transform: uppercase;
        font-size: 18px;
        padding: 13px 10px;
        color: #000000;
        border-bottom: solid 1px #928484;
        &:first-child {
            padding: 13px 10px 13px 0;
        }
    }
    td {
        font-size: 14px;
        padding: 13px 10px;
    }
    tbody {
        border: unset;
    }
}
