<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ page_title }}</title>
        <!-- css libs  ------------------------------------------------------------>
        <link rel="stylesheet" href="./assets/libs/datepicker/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="./assets/libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="./assets/libs/select2/select2.min.css">
        <link rel="stylesheet" href="./assets/libs/slick/slick.css">
        <link rel="stylesheet" href="./assets/libs/slick/slick-theme.css">
        <link rel="stylesheet" href="./assets/libs/bootstap-hover/bootstrap-dropdownhover.min.css">
        <link rel="stylesheet" href="./assets/libs/lightbox/ekko-lightbox.css">
        <link rel="stylesheet" href="./assets/libs/bootstrap-slider/bootstrap-slider.min.css">
        <link rel="stylesheet" href="https://www.jqueryscript.net/demo/Morris-Good-looking-Charts-Plugin/morris.css">
        <!-- end css libs  -------------------------------------------------------->
    </head>
    <body>
        <main class="main_wrap">
            {% block content %}{% endblock %}
        </main>
        <!-- libs  ---------------------------------------------------------------->
        <script src="./assets/libs/jquery/jquery-3.4.1.min.js"></script>
        <script src="./assets/libs/bootstrap/js/popper.min.js"></script>
        <script src="./assets/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="./assets/libs/bootstrap-slider/bootstrap-slider.min.js"></script>
        <script src="./assets/libs/select2/select2.js"></script>
        <script src="./assets/libs/slick/slick.min.js"></script>
        <script src="./assets/libs/bootstap-hover/bootstrap-dropdownhover.js"></script>
        <script src="./assets/libs/datepicker/bootstrap-datepicker.min.js"></script>
        <script src="./assets/libs/lightbox/ekko-lightbox.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
        <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
        <!-- end libs  ------------------------------------------------------------>
        <script src="./js/style.js"></script>
    </body>
</html>
