<header class="header">
    <a href="#" class="header-toggle">
        <i class="icon las la-bars"></i>
    </a>
    <a href="#" class="header_logo">
        <img class="logo_with_text logo_full" src="../../assets/images/logo_scb_small.svg" alt="logo_with_text">
    </a>
    <div class="header_text_center">
        <i class="icon las la-cog"></i>
    </div>
    <div class="user">
        <div class="cus-date-picker4">
            <i class="date-icon fas fa-calendar-alt"></i>
            <input class="form-control js-datepicker" type="text" placeholder="-">
        </div>
        <div class="user__langs">
            <figure class="user__langs--img">
                <img src="../../assets/images/lang_vn.jpg" alt="lang">
            </figure>
            <div class="user__langs--select">
                <span class="user__langs--selected dropdown-toggle" data-toggle="dropdown">VN</span>
                <ul class="user__langs--list dropdown-menu">
                    <li>
                        <figure class="icon">
                            <img src="../../assets/images/lang_vn.jpg" alt="lang">
                        </figure>
                        VN
                    </li>
                    <li>
                        <figure class="icon">
                            <img src="../../assets/images/lang_en.png" alt="lang">
                        </figure>
                        VN
                    </li>
                </ul>
            </div>
        </div>
        <div class="user__wrap d-flex">
            <i class="icon fas fa-calendar-check">
                <span>1</span>
            </i>
            <i class="icon fas fa-calendar-check">
                <span>+9</span>
            </i>
            <i class="icon fas fa-calendar-check">
                <span>2</span>
            </i>
            <i class="icon fas fa-calendar-check">
                <span>0</span>
            </i>
        </div>
    </div>
</header>
