 <div class="marker">
    <div class="point-28a745">
        3
    </div>
</div>

<div class="marker mt-2">
    <div class="point-ff9800">
        10
    </div>
</div>

<div class="marker mt-2">
    <div class="point-1825aa">
        15
    </div>
</div>
