<div class="cus-alert">
    <div class="alert alert-primary" role="alert">
        <span class="alert__icon">
            <img src="../../assets/images/primary.png" class="alert__img" alt="">
        </span>
        <div> This is a primary !</div>
    </div>
    <div class="alert alert-success" role="alert">
        <span class="alert__icon">
            <img src="../../assets/images/success.svg" class="alert__img" alt="">
        </span>
        <div> This is a success !</div>
    </div>
    <div class="alert alert-danger" role="alert">
        <span class="alert__icon">
            <img src="../../assets/images/danger.svg" class="alert__img" alt="">
        </span>
        <div> This is a danger !</div>
    </div>
    <div class="alert alert-warning" role="alert">
        <span class="alert__icon">
            <img src="../../assets/images/warning.svg" class="alert__img" alt="">
        </span>
        <div> This is a warning !</div>
    </div>
</div>
<div class="alert alert-success">
    Success! Indicates a successful or positive action.
</div>
<div class="alert alert-warning">
    Warning! Indicates a successful or positive action.
</div>
