<nav class="sidebar">
    <div class="sidebar__wrap">
        <div class="sidebar__logo">
            <a href="#" class="link">
                <img class="logo_with_text logo_full" src="../../assets/images/logo_scb_full.svg" alt="logo_with_text">
            </a>
        </div>
        <div class="sidebar__sticky">
            <div class="sidebar__sticky-item">
                <div class="sidebar__title">PHÒNG GIAO DỊCH CỐNG QUỲNH</div>
                <div class="sidebar__user d-flex">
                    <div class="sidebar__user--avatar">
                        <img src="https://yolo.vn/wp-content/uploads/2019/08/hinh-anh-cho-pomsky-dep-45.jpg">
                    </div>
                    <div class="sidebar__user--info">
                        <span class="name">Phạm Nguyễn Anh Đào</span>
                        <span class="position">
                            Trưởng phòng
                        </span>
                        <span class="graduation">
                            Tác Nghiệp Kinh Doanh TiềnTệ
                        </span>
                    </div>
                </div>
                <div class="sidebar__item">
                    <ul class="nav flex-column">
                        {#
                        <li class="nav-item active">
                            <div class="nav-link ">
                                <i class="icon las la-home "></i>
                                <span class="text">Dashboard</span>
                                <i class="fas fa-minus icon-li"></i>
                            </div>
                            <ul class="nav flex-column pl-3 menu_child">
                                <li class="nav-item">
                                    <div class="nav-link ">
                                        <i class="icon las la-home "></i>
                                        <span class="text">Dashboard 1</span>
                                    </div>
                                    <ul class="nav flex-column pl-3 menu_child">
                                        <li class="nav-item">
                                            <div class="nav-link ">
                                                <i class="icon las la-home "></i>
                                                <span class="text">Dashboard 1.1</span>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                <i class="icon fas fa-list-alt "></i>
                                                <span class="text">
                                                    Dashboard 1.2
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="icon fas fa-list-alt "></i>
                                        <span class="text">
                                            Dashboard 2
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        #}
                        <li class="nav-item">
                            <div class="nav-link ">
                                <i class="icon las la-home "></i>
                                <span class="text">Dashboard</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="icon fas fa-list-alt "></i>
                                <span class="text">
                                    Danh sách eKYC
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copy-right">
                @ 2021 Minerva Technology Solutions
            </div>
        </div>
    </div>
</nav>
