<div class="m-slider">
    <div class="slider-for">
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
    </div>
    <div class="slider-nav">
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
    </div>
</div>
