<div class="cus-table">
    <table>
        <thead>
            <tr>
                <th style="width: 5%">STT</th>
                <th style="width: 10%" scope="col">BookingID</th>
                <th style="width: 10%" scope="col">ĐVKD</th>
                <th style="width: 15%" scope="col">Nghiệp vụ</th>
                <th style="width: 15%" scope="col">Thiết bị</th>
                <th style="width: 15%" scope="col">Thời gian</th>
                <th style="width: 15%" scope="col">Trạng thái</th>
                <th style="width: 15%" scope="col">Hiệu suất</th>
            </tr>
        </thead>
        <tbody>
            {% for i in 0..9 %}
            <tr>
                <td style="width: 5%">1</td>
                <td style="width: 10%">
                    <a href="#" class="link_href_071180 fw-medium">ABC123</a>
                </td>
                <td style="width: 10%">
                    <a href="#" class="link_href_212529">Vùng 1</a>
                </td>
                <td style="width: 15%" class="fw-medium">Mở CIF</td>
                <td style="width: 15%">
                    <a href="#" class="link_href_212529 fw-medium">VTM Hà Nội 1</a>
                </td>
                <td style="width: 15%">210504 12:08:36</td>
                <td style="width: 15%" class="status-1825aa fw-medium">Đang xử lý</td>
                <td style="width: 15%">
                    <i class="icon-percent fas fa-fingerprint"></i>
                    <span class="text-percent">94%</span>
                    <i class="icon-percent far fa-grin-beam"></i>
                    <span>94%</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="cus-table table-custom">
    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th scope="col">VTM</th>
                <th scope="col">TỔNG SỐ TÁC VỤ</th>
                <th class="text-center" scope="col">TỔNG SỐ KHÁCH HÀNG</th>
                <th scope="col">CHI TIẾT</th>
            </tr>
        </thead>
        <tbody>
            {% for i in 0..6 %}
            <tr>
                <td>1</td>
                <td>
                    <a href="#" class="link_href_000000 fw-medium">VTM Hà Nội 1</a>
                </td>
                <td class="fw-bold uni_text_1825aa">1 [CPU:
                    <span class="uni_text_02771d">35%</span> - RAM:
                    <span class="uni_text_f61f1f">75%</span>
                    - GPU:
                    <span class="uni_text_28a745">25%</span>
                    ]
                </td>
                <td class="text-center">1</td>
                <td>
                    <a href="#" class="link_href_1825aa">Xem chi tiết</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
