<!-- Modal -->
<div class="cus-modal no-radius">
    <div class="modal fade" id="modalInvite" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Invite member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="las la-times"></i></span>

                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group">
                            <label class="label" for="">Member email</label>
                            <input type="text" class="form-control" placeholder="Ahihi">
                        </div>
                        <div class="cus-select2">
                            <div class="form-group">
                                <label class="label">
                                    <span>Member role </span>
                                </label>
                                <select class=" js-seclect2 form-control">
                                    <option value="A">- All -</option>
                                    <option value="NQL">Người quản lý</option>
                                    <option value="TV">Thành viên</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue" data-dismiss="modal">Lưu</button>
                    <button type="button" class="btn btn-red-outline" data-dismiss="modal">Hủy bỏ</button>
                </div>
            </div>
        </div>
    </div>
</div>