<!-- Modal -->
<div class="cus-modal no-radius">
    <div class="modal fade" id="exampleModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="las la-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="cus-select2">
                            <div class="form-group">
                                <label class="label">
                                    <span>Select2 </span>
                                </label>
                                <select class=" js-seclect2 form-control">
                                    <option value="CA">- All -</option>
                                    <option value="NV">Nevada</option>
                                    <option value="OR">Oregon</option>
                                    <option value="WA">Washington</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="label">
                                    <span>Select2 </span>
                                </label>
                                <select class=" js-seclect2 form-control">
                                    <option value="CA">- All -</option>
                                    <option value="NV">Nevada</option>
                                    <option value="OR">Oregon</option>
                                    <option value="WA">Washington</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="label">
                                    <span>Select2 </span>
                                </label>
                                <select class=" js-seclect2 form-control">
                                    <option value="CA">- All -</option>
                                    <option value="NV">Nevada</option>
                                    <option value="OR">Oregon</option>
                                    <option value="WA">Washington</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue" data-dismiss="modal">Lưu</button>
                    <button type="button" class="btn btn-red-outline" data-dismiss="modal">Cancer</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cus-modal confirm">
    <div class="modal fade" id="exampleModalNoHeader" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="../../../assets/images/delete.svg" alt="" class="modal-img">
                    <div class="modal-note">Bạn có muốn thoát khỏi thread ?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-red" data-dismiss="modal">Xóa</button>
                    <button type="button" class="btn btn-white-outline" data-dismiss="modal">Hủy Bỏ</button>
                </div>
            </div>
        </div>
    </div>
</div>