<!-- Modal -->
<div class="cus-modal no-radius">
    <div class="modal fade" id="modaPassword" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="las la-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group">
                            <label class="label" for="">Input password</label>
                            <div class="password">
                                <input type="text" class="form-control" placeholder="password">
                                <i class="fa fa-eye-slash input-icon" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label" for="">Input password</label>
                            <div class="password">
                                <input type="text" class="form-control" placeholder="password">
                                <i class="fa fa-eye-slash input-icon" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label" for="">Input password</label>
                            <div class="password">
                                <input type="text" class="form-control" placeholder="password">
                                <i class="fa fa-eye-slash input-icon" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue" data-dismiss="modal">Lưu</button>
                    <button type="button" class="btn btn-red-outline" data-dismiss="modal">Hủy bỏ</button>
                </div>
            </div>
        </div>
    </div>
</div>