<!-- Modal -->
<div class="cus-modal no-radius">
    <div class="modal fade" id="modalQuetion" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tạo câu hỏi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="las la-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group ">
                            <label class="label" for="">Câu hỏi</label>
                            <span class="add-input">+ Thêm</span>
                            <div class="input-search">
                                <input type="text" class="form-control" placeholder="Nhập câu hỏi">
                                <i class="fas fa-times-circle input-icon"></i>
                            </div>
                            <input type="text" class="form-control mt-1" placeholder="Nhập câu hỏi">
                        </div>
                        <div class="cus-textarea">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Câu trả lời</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                    placeholder="Nhập câu trả lời"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue" data-dismiss="modal">Lưu</button>
                    <button type="button" class="btn btn-red-outline" data-dismiss="modal">Cancer</button>
                </div>
            </div>
        </div>
    </div>
</div>