<div class="cus-modal confirm">
    <div class="modal fade" id="modalDelete" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="../../assets/images//delete.svg" alt="" class="modal-img">
                    <div class="modal-note">Bạn có muốn xóa thành viên không ?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-red" data-dismiss="modal">Xóa</button>
                    <button type="button" class="btn btn-white-outline" data-dismiss="modal">Hủy Bỏ</button>
                </div>
            </div>
        </div>
    </div>
</div>