<div class="cus-modal confirm">
    <div class="modal fade" id="modalExit" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal-body">
                    <img src="../../../assets/images/exit-m.svg" alt="" class="modal-img">
                    <div class="modal-note">Bạn có muốn thoát khỏi thread ?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue" data-dismiss="modal">Rời Khỏi</button>
                    <button type="button" class="btn btn-white-outline" data-dismiss="modal">Hủy Bỏ</button>
                </div>
            </div>
        </div>
    </div>
</div>