// font family

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

$RobotoRegular: "Roboto-Regular", arial;
$RobotoBold: "Roboto-Bold", arial;
$RobotoLight: "Roboto-Light", arial;
$RobotoMedium: "Roboto-Medium", arial;
$RobotoBlack: "Roboto-Black", arial;
$SourceSansProSemibold: "SourceSansPro-Semibold", arial;
$SourceSansPro: "Source Sans Pro", sans-serif;

@font-face {
	font-family: "Roboto-Black";
	src: url("../assets/font-page/Roboto-Black/Roboto-Black.eot?#iefix") format("embedded-opentype"),
		url("../assets/font-page/Roboto-Black/Roboto-Black.woff") format("woff"),
		url("../assets/font-page/Roboto-Black/Roboto-Black.ttf") format("truetype"),
		url("../assets/font-page/Roboto-Black/Roboto-Black.svg#Roboto-Black") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto-Bold";
	src: url("../assets/font-page/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
		url("../assets/font-page/Roboto-Bold/Roboto-Bold.woff") format("woff"),
		url("../assets/font-page/Roboto-Bold/Roboto-Bold.ttf") format("truetype"),
		url("../assets/font-page/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto-Light";
	src: url("../assets/font-page/Roboto-Light/Roboto-Light.eot?#iefix") format("embedded-opentype"),
		url("../assets/font-page/Roboto-Light/Roboto-Light.woff") format("woff"),
		url("../assets/font-page/Roboto-Light/Roboto-Light.ttf") format("truetype"),
		url("../assets/font-page/Roboto-Light/Roboto-Light.svg#Roboto-Light") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto-Medium";
	src: url("../assets/font-page/Roboto-Medium/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
		url("../assets/font-page/Roboto-Medium/Roboto-Medium.woff") format("woff"),
		url("../assets/font-page/Roboto-Medium/Roboto-Medium.ttf") format("truetype"),
		url("../assets/font-page/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("../assets/font-page/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
		url("../assets/font-page/Roboto-Regular/Roboto-Regular.woff") format("woff"),
		url("../assets/font-page/Roboto-Regular/Roboto-Regular.ttf") format("truetype"),
		url("../assets/font-page/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
}
