.chart-statistical {
    background-color: #fff;
    padding: 18px 24px;
    .text {
        @include fw-normal;
        font-size: 14px;
        margin-top: 6px;
        color: #72777a;
    }
    .boxes-date {
        @include fw-normal;
        font-size: 12px;
        padding: 4px 11px;
        border: solid 1px #1825aa;
        color: #1825aa;
        cursor: pointer;
        background-color: rgba(33, 150, 243, 0);
        &.active {
            color: #ffffff;
            background-color: #1825aa;
        }
    }
}
