.chart_average {
    .card-body {
        box-shadow: 0 20px 40px 0 rgba(41, 27, 143, 0.15) !important;
    }
    .header-chart {
        @include flexbox;
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        .number-total {
            @include fw-sr-bold;
            font-size: 26px;
            color: #1825aa;
        }
        .rate-before {
            @include flexbox;
            @include align-items(center);
            .text {
                @include fw-medium;
                font-size: 12px;
            }
            .icon-increate {
                color: #28a745;
            }
        }
    }
}
