body {
    font-size: 14px;
    font-family: $RobotoRegular;
    padding: 0;
    margin: 0;
}

.main_content {
    padding: 65px 25px 40px;
    min-height: calc(100vh - 61px);
}

.main_container {
    @include scrollbar;
    @include transition(all 0.2s ease);
    background-color: #f2f5fa;
    min-height: calc(100vh);

    .sidebar {
        .nav {
            .nav-link {
                .icon {
                    margin: 0;
                }
            }
        }
    }
}

.main_page {
    min-height: 100vh;
    padding-left: 270px;

    @media (max-width: 991px) {
        padding-left: 0;
    }
}

.main_wrap {
    &.hide {
    }
}

.card-style-1 {
    background-color: #ffffff;
    padding: 15px 0 15px 24px;
    margin-bottom: 25px;
    border: none;
    border-radius: unset;

    &__title {
        @include fw-normal;
        @include flexbox;
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        font-size: 20px;
        color: #212529;
        margin-bottom: 10px;
    }

    &__action-button {
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(flex-end);

        @media (max-width: 480px) {
            @include justify-content(flex-start);
        }

        .btn-light-blue {
            margin-left: 15px;

            @media (max-width: 480px) {
                margin: 0 15px 15px 0;
            }
        }
    }
}

.card-style-2 {
    border: solid 1px #d5d5d5;
    background-color: #ffffff;
    position: relative;
    padding: 15px 0 15px 24px;
    margin-bottom: 25px;

    &__title {
        @include fw-medium;
        background-color: #ffffff;
        position: absolute;
        color: #071180;
        font-size: 14px;
        min-height: 28px;
        padding: 6px 6px 4px 6px;
        top: -18px;
    }
}

.title {
    &__card {
        @include flexbox;
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        font-family: $RobotoMedium;
        font-size: 20px;
        color: #212529;
        margin-bottom: 10px;

        .text {
            margin: 0 30px 15px 0;
        }

        .action {
            .btn {
                @media (max-width: 480px) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    &__action-button {
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(flex-end);

        @media (max-width: 480px) {
            @include justify-content(flex-start);
        }

        .btn-light-blue {
            margin-left: 15px;

            @media (max-width: 480px) {
                margin: 0 15px 15px 0;
            }
        }
    }
}

.text-decoration {
    text-decoration: underline;
    cursor: pointer;
}

.header-page {
    @include flexbox;
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    margin-bottom: 20px;
    margin-top: 25px;

    &__title {
        font-family: $RobotoMedium;
        color: #212529;
        font-size: 26px;
        margin-right: 30px;
    }
    &__action {
        @include flexbox;
        @include flex-wrap(wrap);
    }

    &__action-blue {
        @include flex_center;
        margin: 0 10px 10px 0;
        height: 36px;
        border-radius: 3px;
        padding: 0 10px;

        @media (max-width: 480px) {
            display: block;
            height: unset;
        }

        .text {
            color: #004891;
            margin-right: 5px;
        }

        .form-group {
            @include flex_center;
            margin-bottom: 0;

            .select2 {
                width: 100% !important;
                min-width: 150px;
                height: 36px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                .select2-selection {
                    @include flexbox;
                    @include align-items(center);
                    padding-right: 25px !important;
                    position: relative;
                    border: none;
                    border-radius: 0;
                    outline: none;

                    &::before {
                        position: absolute;
                        content: "\f107";
                        font-size: 11px;
                        color: #ffffff;
                        right: 10px;
                        font-family: "Line Awesome Free";
                        font-weight: 900;
                    }

                    &:focus {
                        outline: none;
                        border: none;
                    }
                }

                .select2-selection__rendered {
                    @include flexbox;
                    @include align-items(center);
                    height: 100% !important;
                    color: #ffffff !important;
                    width: 100%;
                    min-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .select2-selection__arrow {
                    display: none;
                }

                .select2-selection--single {
                    min-height: 36px;
                    background-color: #0080ff;
                }
            }

            .select2-dropdown {
                border: solid 1px #bce0fd;
            }
        }

        &.date-double {
            @media (max-width: 375px) {
                @include flex-direction(column);
                @include justify-content(flex-start);
                height: unset;

                .text {
                    width: 100%;
                }
            }
        }

        .cus-date-picker {
            @include flexbox;
            @include align-items(center);
            color: #ffffff;

            .form-control {
                max-width: 120px;
                border: none;
                height: 36px;
            }

            &::before {
                right: 0;
            }
        }
    }

    &__date-filter {
        @include flexbox;
        height: 36px;

        .date {
            background-color: rgba(0, 128, 255, 0.1);
            border: solid 1px rgba(0, 128, 255, 0.16);
            padding: 7px 15px;
            color: #666b77;

            &:hover,
            &.active {
                color: #0080ff;

                a {
                    color: #0080ff;
                }
            }

            a {
                color: #666b77;
                text-decoration: none;
            }
        }
    }
}

.action {
    @include fw-normal;
    font-size: 14px;
    padding: 5px 6px;
    text-align: center;
    height: 30px;
    width: 90px;
    cursor: pointer;
    border-radius: 3px;

    &-join {
        background-color: rgba(24, 210, 107, 0.1);
        color: #18d26b;

        &:hover,
        &.active {
            background-color: #18d26b;
            color: #fff;
        }
    }

    &-out {
        background-color: rgba(255, 63, 63, 0.1);
        color: #ff3f3f;

        &:hover,
        &.active {
            background-color: #ff3f3f;
            color: #fff;
        }
    }
}

.icon-avatar {
    .icon {
        @include flex_center();
        cursor: pointer;
        width: 32px;
        height: 32px;
        background-color: #f5f6f6;
        color: rgba(33, 43, 54, 0.2);
        border-radius: 50%;
    }
}

.footer-table {
    @include flexbox;
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    @include align-items(center);

    &__total {
        margin-right: 30px;
    }

    .cus-pagination {
        .pagination {
            @include align-items(center);
        }

        ul {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.footer-action-btn {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(flex-end);

    @media (max-width: 480px) {
        @include justify-content(center);
        @include flex-direction(column);
    }

    .btn {
        margin-left: 15px;

        @media (max-width: 480px) {
            margin: 0 0 15px 0;
        }
    }
}

.notification {
    .cus-alert {
        position: fixed;
        top: 60px;
        right: 0;
    }
}

.m-title {
    z-index: 1;
}

.m_heading {
    width: 100%;
    @include flexbox;
    @include align-items(flex-end);
    @include flex-wrap(wrap);

    &--actions {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(flex-end);
        @include flex-wrap(wrap);

        @media (max-width: 480px) {
            @include flex-direction(column);
            width: 100%;
        }

        .action {
            @media (max-width: 991px) {
                width: 100%;
            }
        }
    }

    @media (max-width: 991px) {
        .m_search {
            width: 100%;
            order: 2;

            .input-search {
                flex: 1;
            }
        }
    }

    @media (max-width: 480px) {
        .dropdown {
            width: 100%;

            button {
                width: 100%;
            }
        }

        .exchange-rate {
            width: 100%;
        }

        .form-group {
            width: 100%;
        }
        .cus-date-picker2 {
            width: 100%;
        }
    }

    .dropdown {
        .dropdown-menu {
            border-radius: 0;
            width: 100%;
            max-height: 300px;
            overflow-y: auto;
            padding: 0;
            @include scrollbarTable;
        }

        .dropdown-item {
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            white-space: normal;
            padding: 8px;

            // &:not(:last-child) {
            //     border-bottom: 1px solid #ddd;
            // }
        }

        .icon-dropdown {
            font-size: 22px;
            font-weight: 900;
            color: #6d30ab;
            padding-right: 8px;
        }
    }

    &--title {
        font-size: 18px;
        font-weight: 500;
        display: block;
        line-height: normal;
        text-transform: uppercase;

        .sub-title {
            width: 100%;
            font-size: 14px;
            font-weight: 300;
            color: #999999;
            text-transform: initial;
            font-style: italic;
            display: block;
        }
    }

    .dropdown-toggle:after {
        content: "\f107";
        font-size: 11px;
        right: 10px;
        border: 0;
        font-family: "Line Awesome Free";
        font-weight: 900;
        padding-left: 12px;
    }
}

.square {
    border-radius: 0 !important;
}

.m_title {
    @include fw-medium;
    text-transform: uppercase;
    font-size: 16px;
    color: #1825aa;
    padding: 8px 20px;
    margin: 0;
    position: relative;
    overflow: hidden;
    border: none;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    z-index: 1;

    @media (max-width: 480px) {
        width: 100%;
    }
}

.m_search {
    @include flexbox;
    @include align-items(center);
    background-color: #1e93ec;
    padding: 7px 12px;
    &--label {
        @include fw-normal;
        color: #fff;
        font-size: 14px;
        line-height: 1.31;
        font-weight: 400;
        margin: 0;
        padding-right: 13px;
        text-transform: uppercase;
    }
    input {
        background-color: #fff;
        min-width: 177px;
        height: 26px !important;
        border: none;
        padding: 0 5px;
        outline: none;
    }
    &--button {
        padding-left: 12px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-right: 0;
        color: #fff;
        &:focus {
            outline: none;
        }
        .icon {
            color: #fff;
            font-size: 19px;
        }
    }
}

.m_select {
    position: relative;
    &--label {
        @include fw-normal;
        @include flex_center;
        padding: 10px 14px 9px;
        margin: 0;
        text-transform: uppercase;
        background-color: #1825aa;
        border: 0;
        outline: 0;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        .text {
            padding-right: 50px;
        }
        &::before {
            position: absolute;
            content: "";
        }
    }
    &--list {
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
        margin: 0;
        list-style: none;
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 0.5rem 1rem;
        max-height: 300px;
        overflow-y: auto;
        li {
            padding: 5px 0;
            cursor: pointer;
        }
    }
    &--name {
        @include fw-normal;
        @include flex_center;
        padding: 10px 14px 9px;
        margin: 0;
        text-transform: uppercase;
        background-color: #1e93ec;
        border: 0;
        outline: 0;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        .text {
            padding-right: 50px;
            &::before {
                position: absolute;
                content: "";
            }
        }
    }
}

.m_dropdown {
    position: relative;
    &--list {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        max-height: 300px;
        overflow-y: auto;
        &.active {
            display: block;
        }
    }
}

.m-action {
    float: right;

    .dropdown-toggle {
        font-weight: 500;
        text-transform: uppercase;
    }

    &.show {
        .dropdown-toggle {
            background-color: #367be3;
            color: #fff;

            &::after {
                color: #fff;
            }
        }

        .dropdown-menu {
            border: solid 1px #367be3;
            font-size: 14px;
        }

        .dropdown-item {
            border: none !important;
            color: #1825aa;
            padding: 8px 20px;

            .icon-dropdown {
                color: #1825aa;
                padding-right: 8px;
                font-weight: 900;
                font-size: 16px;
            }

            &:hover {
                background-color: #eee;
            }
        }
    }
}

.exchange-rate {
    @include flexbox;
    @include align-items(center);
}

.m-action .dropdown-menu .dropdown-item {
    white-space: normal;
    border: #fff 1px solid;
    border-top: none;
}

.m-action .dropdown-menu {
    min-width: auto;
    width: 100%;
}

.m-action .dropdown-menu .dropdown-item:hover {
    border-color: #367be3;
}

.m-action .dropdown-toggle:after {
    position: absolute;
    right: 10px;
    top: 50%;
    @include transform(translateY(-50%));
}

.m-action button {
    min-width: 165px;
    text-align: left;
}

.m-action .btn-uni-action {
    border: 1px solid #367be3;
    background-color: #ffffff;
    color: #367be3;
    padding: 9px 30px 10px 20px !important;
    margin: 0;
    text-transform: none;
    cursor: pointer;
    font-size: 14px;
    min-width: 72px;
}

.m-action .btn-uni-action:hover {
    background-color: #367be3;
    color: #ffffff;
}

.m-action {
    .dropdown-toggle {
        font-weight: 500;
    }

    &.show {
        .dropdown-toggle {
            background-color: #367be3;
            color: #fff;

            &::after {
                color: #fff;
            }
        }

        .dropdown-menu {
            border: solid 1px #367be3;
        }

        .dropdown-item {
            border: none !important;
            color: #367be3;

            .icon-dropdown {
                color: #367be3;
                padding-right: 8px;
                font-weight: 900;
                font-size: 16px;
            }

            &:hover {
                background-color: #eee;
            }
        }
    }
}

.text-underline {
    text-decoration: underline !important;
}

.page-dashboard {
    background-color: #fff;
}

.m-boxshadow {
    box-shadow: 0 20px 25px 0 rgba(41, 27, 143, 0.1) !important;
}
.m-boxshadow-table {
    box-shadow: 0 20px 40px 0 rgba(41, 27, 143, 0.16) !important;
}

.fw-medium {
    @include fw-medium;
}

.fw-bold {
    @include fw-bold;
}
