.margin-right-1 {
    margin-right: 1px;
}

.bd-right-1 {
    border-right: 1px solid #d8d8d8;
}

.style-infor-cutomer {
    .name {
        @include fw-bold;
        text-transform: uppercase;
        color: #1825aa;
        font-size: 13px;
    }

    .form-control {
        font-size: 14px;

        &:disabled {
            background-color: #d7d8e4;
        }
    }
}

.title-content {
    @include fw-medium;
    color: #353535;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 15px;
}

.identifi-infor {
    .identification-info__image-hand {
        border: 1px solid #1825aa;
    }

    &__content {
        padding-top: 30px;
        padding-bottom: 15px;

        .title-content {
            margin-bottom: 15px;
            margin-left: 0;
        }
    }
}

.heading {
    &-style {
        border: 1px solid #1825aa;
        position: relative;
        margin-bottom: 20px;
    }

    &-title {
        @include fw-medium;
        font-size: 15px;
        color: #353535;
        position: absolute;
        background-color: #fff;
        text-transform: uppercase;
        padding: 0 3px 0 3px;
        top: -14px;
        left: 22px;
    }

    &-content {
        padding: 15px 0 0 0;
    }
}

.style-infor-identifi {
    .label {
        @include fw-medium;
        @include flexbox;
        @include align-items(center);
        font-size: 14px;
        color: #212529;
        margin-bottom: 3px;

        &-box {
            width: 7px;
            height: 7px;
            margin-right: 6px;
            background-color: #1825aa;
        }
    }

    .form-group {
        .label {
            @include fw-medium;
            font-size: 14px;
            color: #212529;
        }

        .form-control {
            @include fw-normal;
            font-size: 12px;
            color: #212529;
            padding-left: 8px;
            height: 36px;

            @mixin placeholderInputStyles {
                @include fw-light;
                font-size: 12px;
                color: #212529;
            }

            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                @include placeholderInputStyles;
            }

            &::-moz-placeholder {
                /* Firefox 19+ */
                @include placeholderInputStyles;
            }

            &:-ms-input-placeholder {
                /* IE 10+ */
                @include placeholderInputStyles;
            }

            &:-moz-placeholder {
                /* Firefox 18- */
                @include placeholderInputStyles;
            }
        }
    }

    .cus-select2 {
        .select2-selection--single {
            min-height: 36px;
        }

        .select2-selection__rendered {
            @include fw-normal;
            font-size: 12px;
            color: #212529;
        }

        .select2-selection {
            &::before {
                color: #1825aa;
            }
        }
    }
}

/// ANh đem cái này thay css .m-slide nhá.
.m-slider {
    .slider-for {
        width: 200px;
        height: 200px;
        margin: 30px auto 1px;
        overflow: hidden;
        border: solid #f8f8f8;

        .item {
            @include flex_center;

            img {
                width: 100%;
            }
        }
    }

    .slider-nav {
        margin: auto;
        padding: 15px 0px 0px 0px;
        display: block;

        .item {
            margin: auto 10px;
            border: 1px solid #cbcbcb;
            padding: 3px;
            position: relative;

            img {
                position: absolute;
                width: auto;
                height: 100%;
                left: 50%;
                top: 50%;
                @include transform(translate(-50%, -50%));
            }
        }

        .slick-track {
            height: 93px;
        }
    }

    .slick-arrow {
        position: absolute;
        top: 62%;
        z-index: 50;
        margin-top: -12px;
        cursor: pointer;

        &::after,
        &::before {
            color: #333333;
        }
    }

    .slick-prev,
    .icon-left {
        left: -10px;
    }

    .icon-right,
    .slick-next {
        right: -10px;
    }
}

.m-slider-avatar {
    position: relative;
    z-index: 2;

    .slider-for {
        width: 160px;
        height: 160px;
        margin: 0 auto 1px;
        z-index: 2;
        overflow: hidden;
        border: 1px solid #f8f8f8;

        @include flexbox;
        @include align-items(center);
    }

    .slider-nav {
        margin: auto;
        padding: 0;
        display: block;

        .slick-track {
            height: 61px;
        }
    }

    .slider-infor {
        margin-bottom: 30px;
        text-align: center;
        background-color: #e4ebff;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            height: 70px;
            width: 100%;
            background-color: #e4ebff;
            top: -70px;
            left: 0;
        }

        .wrap {
            max-width: 160px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 10px;
            padding-bottom: 25px;
            position: relative;
        }

        .title {
            @include fw-bold;
            font-size: 16px;
            color: #353535;
            text-transform: uppercase;

            @media (max-width: 767px) {
                top: 55%;
            }
        }

        .number {
            @include fw-bold;
            color: #ffffff;
            font-size: 15px;
            padding: 5px 23px;
            background-color: #1e93ec;
            max-width: 126px;
            margin: 0 auto;
            margin-top: 10px;
            position: absolute;
            bottom: -15px;
            left: 50%;
            @include transform(translateX(-50%));
        }

        .visuhide {
            position: absolute !important;
            overflow: hidden;
            width: 1px;
            height: 1px;
            clip: rect(1px, 1px, 1px, 1px);
        }

        .rating {
            position: relative;
            top: 58%;

            .color-star {
                @include box-shadow(0 3px 4px 0 rgba(33, 33, 33, 0.28));
                @include transition(all .2s);
                position: relative;
                color: #d8d8d8;
                font-size: 11px;
                margin-right: 7px;

                &:hover,
                &.active {
                    color: #f61f1f;
                }
            }

            .bg-star {
                position: absolute;
                font-size: 18px;
                color: #fff;
                top: -4px;
                right: -4px;
                z-index: 0;
            }

            @media (max-width: 767px) {
                top: 67%;
            }

            // input {
            //     position: absolute;
            //     cursor: pointer;
            //     transform: translate(-3px, 8px);
            //     opacity: 0;

            //     &:checked ~ .star::after,
            //     &:hover ~ .star:after {
            //         content: "\f005";
            //     }
            // }
            // .star {
            //     display: inline-block;
            //     font-family: "Font Awesome 5 Free";
            //     font-size: 18px;
            //     color: #ffffff;
            //     cursor: pointer;
            //     &:after {
            //         content: "\f006";
            //     }

            //     &:hover {
            //         & ~ .star:after,
            //         &:after {
            //             content: "\f005";
            //         }
            //     }
            // }
        }
    }
}