.login {
    @include flexbox;
    @include flex-wrap(nowrap);
    background-color: #ffffff;
    height: 100vh;
    position: relative;

    .particles-js {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
    }

    .background {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .logo {
        margin: 35px 0 0 45px;
        max-height: 60px;
        width: 100%;
        max-width: 156px;
        height: 100%;

        @media (max-width: 767px) {
            margin: 20px auto;
        }
    }

    &__form {
        @include transform(translate(-50%, -50%));
        @include box-shadow(0 0 15px 0 rgba(0, 0, 0, 0.2));
        max-width: 500px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 0 32px;

        @media (max-width: 767px) {
            width: 88%;
            margin-top: 30px;

        }

        .mess-error {
            margin-top: 5px;
            display: none;

        }

        .title {
            @include fw-medium;
            text-align: center;
            font-size: 34px;
            color: #212529;
            width: 100%;
            padding-top: 35px;
            padding-bottom: 29px;
        }

        .label {
            @include fw-bold;
            font-size: 16px;
            margin-bottom: 11px;
            color: #304460;

        }

        .custom-checkbox {
            @include flexbox;
            @include align-items(center);
            @include fw-normal;
            position: relative;
            cursor: pointer;
            font-size: 14px;
            color: #72777a;
            padding-left: 28px;
            margin-bottom: 15px;


            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked~.checkmark {
                    &:after {
                        display: none;
                    }
                }
            }

            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 17px;
                width: 17px;
                background-color: #dee2e6;
                border-radius: 50%;

                &:after {
                    @include transform(rotate(45deg));
                    content: "";
                    position: absolute;
                    left: 6px;
                    top: 3px;
                    width: 5px;
                    height: 10px;
                    border: solid #2196f3;
                    border-width: 0 3px 3px 0;
                }
            }
        }

        .form-group {
            margin-bottom: 16px;

            .form-control {
                font-size: 18px;
                min-height: 45px;
                color: #304460;
                padding: 12px;
                border-radius: 25px;
                border: solid 1.5px #dee2e6;

                @media (max-width: 992px) {
                    font-size: 16px;
                }

                @media (max-width: 481px) {
                    font-size: 14px;
                }

                @mixin placeholderInputStyles {
                    @include fw-light;
                    font-size: 16px;
                    color: #888888;

                    @media (max-width: 992px) {
                        font-size: 16px;
                    }

                    @media (max-width: 481px) {
                        font-size: 14px;
                    }
                }

                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    @include placeholderInputStyles;
                }

                &::-moz-placeholder {
                    /* Firefox 19+ */
                    @include placeholderInputStyles;
                }

                &:-ms-input-placeholder {
                    /* IE 10+ */
                    @include placeholderInputStyles;
                }

                &:-moz-placeholder {
                    /* Firefox 18- */
                    @include placeholderInputStyles;
                }
            }



            .input-icon {
                color: #717c99;
            }


        }

        .login_btn {
            text-align: center;

            .btn {
                @include fw-normal;
                font-size: 16px;
                border-radius: 30px;
                border: none;
                max-height: 40px;
                height: 100%;
                text-transform: uppercase;
                padding: 10px 20px;
                color: #f2f2f2 !important;
                background-color: #2196f3;

            }
        }

        .support-title {
            @include fw-normal;
            font-size: 16px;
            color: #72777a;
            padding-bottom: 21px;
        }

        .support-login {
            @include fw-normal;
            font-size: 14px;
            text-align: center;
            margin-top: 17px;
            margin-bottom: 38px;
            color: #72777a;

            .text {
                color: #2196f3;
            }
        }
    }

    &--forgot {
        .form-group {
            margin-bottom: 25px;

        }
    }

    &--out {
        .support-title {
            padding-top: 35px;
            padding-bottom: 24px;
            text-align: center;
        }

        .login_btn {
            padding-bottom: 36px;

            .btn {
                background-color: #dc3545 !important;
            }
        }

    }
}