.identification-info {
    @include flexbox;

    // padding: 1px;
    @media (max-width: 1199px) {
        @include flex-direction(column);
    }

    &__progress {
        width: 50%;
        padding-right: 15px;
        position: relative;

        &::after {
            @include transform(translateY(-50%));
            content: "";
            position: absolute;
            width: 1px;
            height: 92%;
            background: #d8d8d8;
            top: 50%;
            right: 0;
        }

        @media (max-width: 1199px) {
            width: 100%;
        }
    }

    &__fingerprint {
        width: 50%;
        padding-left: 15px;

        @media (max-width: 1199px) {
            width: 100%;
        }
    }

    &__heading {
        @include flexbox;
        @include align-items(center);
        @include flex-wrap(wrap);
        margin-bottom: 15px;

        span {
            @include fw-medium;
            margin-right: 15px;
        }
    }

    &__list {
        @include scrollbar;
        overflow-y: auto;
        max-height: 650px;
        padding-right: 5px;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    &__item {
        @include flexbox;
        @include align-items(center);
        margin-bottom: 20px;
        position: relative;

        &::after {
            content: "";
            width: 1px;
            height: 80%;
            position: absolute;
            background-color: #9ea7ff;
            bottom: -45%;
            left: 19px;
        }

        &:nth-last-of-type(1) {
            &::after {
                display: none;
            }
        }

        @media (max-width: 767px) {
            @include flex-direction(column);
            @include align-items(unset);
            margin-bottom: 10px;

            &::after {
                display: none;
            }
        }

        .date-progress {
            @include flexbox;
            @include align-items(center);
            margin-right: 15px;

            .date {
                color: #1825aa;
                padding: 0 15px;
                font-weight: bold;
                font-size: 15px;
            }

            .icon {
                padding: 10px 11px;
                background: #1825aa;
                color: white;
                border-radius: 50%;
                font-size: 18px;
                margin: 10px 0;
            }
        }
    }

    &__list-image {
        @include scrollbar;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;

        .item_image {
            display: inline-block;
            border: solid 1px #707070;
            position: relative;
            margin-right: 3px;
            background: #909090;

            .small-img {
                width: 42px;
                height: 42px;
                border-radius: 50%;
                border: solid 1px #fff;
                position: absolute;
                bottom: 7px;
                right: 5px;
                overflow: hidden;
                background-color: #fff;

                img {
                    @include transform(translate(-50%, -50%));
                    max-height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: auto;
                }
            }

            .percent {
                position: absolute;
                bottom: 11px;
                right: 16px;
                font-size: 10px;
                color: #fff;
                font-weight: bold;
                line-height: normal;
            }

            figure {
                width: 140px;
                height: 150px;
                position: relative;
                margin-bottom: 0;

                img {
                    @include transform(translate(-50%, -50%));
                    max-width: 100%;
                    max-height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
            }
        }
    }

    &__fingerprint-list {
        @include scrollbar;
        overflow-y: auto;
        max-height: 700px;

        @media (max-width: 767px) {
            max-height: 100%;
        }

        .position-hand {
            padding: 0 5px;
            @include flexbox;

            @media (max-width: 767px) {
                @include flex-wrap(wrap);
                @include flex-direction(column);
            }
        }
    }

    &__fingerprint-item {
        margin-bottom: 20px;

        .title {
            margin-bottom: 15px;
            @include fw-medium;
        }
    }

    &__image-hand {
        @include flex(1);
        border: solid 1px #d8d8d8;
        padding: 15px;
        position: relative;
        text-align: center;

        height: 270px;
        .img {
            width: 100%;
            height: 100%;
            position: relative;
            img {
                position: absolute;
                height: 100%;
                width: auto;
                left: 50%;
                top: 50%;
                @include transform(translate(-50%, -50%));
            }
        }

        &.left {
            flex: 1;
            max-width: 390px;
            @media (max-width: 767px) {
                max-width: 100%;
            }
        }
        &.right {
            width: 260px;
            @media (max-width: 767px) {
                width: 100%;
            }

            .slider-for {
                margin-top: 0;
                width: 120px;
                height: auto;
            }

            .slick-track {
                height: auto;
            }

            .slider-nav {
                .item {
                    height: 46px;
                    margin: 0 5px;
                }
            }
        }

        .text {
            @include fw-medium;
            @include transform(translateX(-50%));
            position: absolute;
            background: #fff;
            padding: 0 5px;
            top: -4%;
            left: 50%;
            width: 70%;
            font-size: 14px;
            font-weight: 500;
        }

        figure {
            width: 100%;
            height: 100%;
            position: relative;
            @media (max-width: 767px) {
                min-height: 270px;
            }

            img {
                @include transform(translate(-50%, -50%));
                max-width: 100%;
                max-height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
            }
        }
    }

    .progress_fingerprint {
        font-size: 20px;
        color: #28a745;
    }
}

.progress_fingerprint {
    @include flexbox;
    @include align-items(center);
    margin: 12px;
}

.flag {
    @include flexbox;
    @include align-items(center);
    color: #fff;
    position: absolute;
    top: 7px;
    z-index: 1;

    span {
        background-color: #28a745;
        font-size: 10px;
        padding: 0 5px;
    }

    .tail {
        width: 0;
        border-width: 7.5px;
        border-color: #28a745 transparent #28a745 #28a745;
        border-style: solid;
    }
}
