.small-box {
    height: 100%;
    min-height: 100px;
    padding: 10px 24px;
    box-shadow: 0 20px 25px 0 rgba(41, 27, 143, 0.15);
    background-color: #ffffff;
    .text {
        @include fw-medium;
        font-size: 20px;
    }
    .box {
        @include fw-sr-bold;
        font-size: 36px;
        &-total {
            color: #1825aa;
        }
        &-success {
            color: #28a745;
        }
        &-canceled {
            color: #ff9800;
        }
        &-processing {
            color: #9c27b0;
        }
        &-denied {
            color: #f44336;
        }
        
    }
}
