.status {
    &-1825aa {
        color: #1825aa !important;
    }

    &-28a745 {
        color: #28a745 !important;
    }

    &-ff9800 {
        color: #ff9800 !important;
    }

    &-f44336 {
        color: #f44336 !important;
    }
}
