.login {
    background-image: url(../assets/images/backgroup_login.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar {
    background-image: url(../assets/images/backgroup_sidebar.png);
}

.map-bg {
    background-image: url(../assets/images/backgroup_sidebar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar__sticky {
    &::before {
        background-image: url(../assets/images/sidebar.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
