<div class="m-slider m-slider-avatar">
    <div class="slider-for">
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
    </div>
    <div class="slider-infor">
        <div class="wrap">
            <div class="title">Lê Phương Thảo</div>
            <div class="rating">
                <span class="fa fa-star color-star active">
                    <i class="far fa-star bg-star"></i>
                </span>
                <span class="fa fa-star color-star ">
                    <i class="far fa-star bg-star"></i>
                </span>
                <span class="fa fa-star color-star ">
                    <i class="far fa-star bg-star"></i>
                </span>
                <span class="fa fa-star color-star">
                    <i class="far fa-star bg-star"></i>
                </span>
                <span class="fa fa-star color-star">
                    <i class="far fa-star bg-star"></i>
                </span>
            </div>
            <div class="number">361963424</div>
        </div>
    </div>
    <div class="slider-nav">
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
        <div class="item">
            <img src="../../assets/avt_admin.jpg" alt="image" draggable="false">
        </div>
    </div>
</div>
