<div class="chart-statistical m-boxshadow">
    <div class="card-box">
        <div class="title">
            Số liệu thống kê
        </div>
        <div class="actions">
            <span class="boxes-date active">Ngày</span>
            <span class="boxes-date">Tuần</span>
            <span class="boxes-date">Tháng</span>
            <span class="boxes-date">Năm</span>
        </div>
    </div>
    <label class="text">Tổng số hồ sơ</label>
    <div id="chart_line"></div>
</div>
<script>
        var options = {
          series: [{
          name: 'series1',
          data: [31, 40, 28, 51, 42, 109, 100]
        }, {
          name: 'series2',
          data: [11, 32, 45, 32, 34, 52, 41]
        }],
          chart: {
          height: 400,
          type: 'area'
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },
        xaxis: {
          type: 'datetime',
          categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
        },
        tooltip: {
          x: {
            format: 'dd/MM/yy HH:mm'
          },
        },
        };

        var chart = new ApexCharts(document.querySelector("#chart_line"), options);
        chart.render();
</script>
