<div class="chart_average card">
    <div class="card-body">
        <div class="card-box">
            <div class="title">
                Tổng số hồ sơ trung bình theo tháng
            </div>
        </div>
        <div class="header-chart">
            <span class="number-total">3.589</span>
            <span class="rate-before">
                <i class="icon-increate fas fa-chart-line mr-2"></i>
                <span class="text">24 so với trước đây</span>
            </span>
        </div>
        <div id="chart_column"></div>
    </div>
</div>
<script>
        var options = {
          series: [{
          name: 'Net Profit',
          data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
        }, {
          name: 'Revenue',
          data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
        }, {
          name: 'Free Cash Flow',
          data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
        }],
          chart: {
          type: 'bar',
          height: 350
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '55%',
            endingShape: 'rounded'
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent']
        },
        xaxis: {
          categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
        },
        fill: {
          opacity: 1
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return "$ " + val + " thousands"
            }
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart_column"), options);
        chart.render();
</script>
