<div class="heading heading-style">
    <div class="heading-title">3. thông tin địa chỉ</div>
    <div class="heading-content style-infor-identifi">
        <div class="container-fluid">
            <div class="label">
                <div class="label-box"></div>
                A. Nơi thường trú
            </div>
            <div class="row ">
                <div class=" col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="cus-select2">
                        <div class="form-group ">
                            <label class="label" for="">1. Tỉnh / Thành phố</label>
                            <select class="js-seclect2 form-control">
                                <option value="CA">Cần Thơ</option>
                                <option value="NV">Nevada</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="cus-select2">
                        <div class="form-group ">
                            <label class="label" for="">2. Quận/Huyện</label>
                            <select class="js-seclect2 form-control">
                                <option value="CA"> Phụng Hiệp</option>
                                <option value="NV">Nam</option>
                                <option value="NV">Nữ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="cus-select2">
                        <div class="form-group ">
                            <label class="label" for="">3. Phường/xã</label>
                            <select class="js-seclect2 form-control">
                                <option value="CA"> Tân Long</option>
                                <option value="NV">Nam</option>
                                <option value="NV">Nữ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-12">
                    <div class="form-group ">
                        <label class="label" for="">4. Số nhà/ tên đường</label>
                        <input
                            type="text"
                            class="form-control name"
                            placeholder="Nhập"
                            value="54/12/25 đường Long Thới"
                        >
                    </div>
                </div>
            </div>
            <div class="label ">
                <div class="label-box"></div>
                B. Địa chỉ liên hệ
            </div>
            <div class="row">
                <div class=" col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="cus-select2">
                        <div class="form-group ">
                            <label class="label" for="">1. Tỉnh / Thành phố</label>
                            <select class="js-seclect2 form-control">
                                <option value="CA">Cần Thơ</option>
                                <option value="NV">Nevada</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="cus-select2">
                        <div class="form-group ">
                            <label class="label" for="">2. Quận/Huyện</label>
                            <select class="js-seclect2 form-control">
                                <option value="CA"> Phụng Hiệp</option>
                                <option value="NV">Nam</option>
                                <option value="NV">Nữ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="cus-select2">
                        <div class="form-group ">
                            <label class="label" for="">3. Phường/xã</label>
                            <select class="js-seclect2 form-control">
                                <option value="CA"> Tân Long</option>
                                <option value="NV">Nam</option>
                                <option value="NV">Nữ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-12">
                    <div class="form-group ">
                        <label class="label" for="">4. Số nhà/ tên đường</label>
                        <input
                            type="text"
                            class="form-control name"
                            placeholder="Nhập"
                            value="54/12/25 đường Long Thới"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
