<div class="row style-infor-cutomer">
    <div class=" col-sm-12 col-md-12 col-lg-12 col-xl-3">
        <div class="form-group ">
            <label class="label " for="">1. Họ và tên</label>
            <input type="text" class="form-control name uni_text_1825aa" placeholder="Nhập" value="Lê Phương Thảo" disabled>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        <div class="form-group ">
            <label class="label" for="">2. CIF</label>
            <input type="text" class="form-control" value="1234567" placeholder="Nhập" disabled>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        <div class="form-group ">
            <label class="label" for="">3. Giới tính</label>
            <input type="text" class="form-control" value="Nữ" placeholder="Nhập" disabled>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        <div class="form-group ">
            <label class="label" for="">4. Cấp độ định danh</label>
            <input type="text" class="form-control" value="eKYC_1" placeholder="Nhập" disabled>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        <div class="form-group ">
            <label class="label" for="">5. Di động</label>
            <input type="text" class="form-control" value="0321546958" placeholder="Nhập" disabled>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        <div class="form-group ">
            <label class="label" for="">6. Email</label>
            <input type="text" class="form-control" value="phthao@gmail.com" placeholder="Nhập" disabled>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <div class="form-group ">
            <label class="label" for="">7. Nguyên quán </label>
            <input type="text" class="form-control" value="Cần Thơ" placeholder="Nhập" disabled>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        <div class="form-group ">
            <label class="label" for="">8. Ngày sinh</label>
            <input type="text" class="form-control" value="08/12/1996" placeholder="Nhập" disabled>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        <div class="form-group ">
            <label class="label" for="">9. Quốc tịch</label>
            <input type="text" class="form-control" value="Việt Nam" placeholder="Nhập" disabled>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <div class="form-group ">
            <label class="label" for="">10. Địa chỉ thường trú </label>
            <input type="text" class="form-control" value="Cái Răng, Cần Thơ" placeholder="Nhập" disabled>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        <div class="form-group ">
            <label class="label" for="">11. Giấy tờ tùy thân </label>
            <div class="d-flex">
                <input type="text" class="form-control w-50 margin-right-1" placeholder="Nhập" disabled value="CMND">
                <input type="text" class="form-control  w-50" placeholder="Nhập" disabled value="361963424">
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        <div class="form-group ">
            <label class="label" for="">12. Ngày cấp</label>
            <input type="text" class="form-control" value="18/02/2021" placeholder="Nhập" disabled>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        <div class="form-group ">
            <label class="label" for="">13. Ngày hết hạn</label>
            <input type="text" class="form-control" value="18/02/2036" placeholder="question" disabled>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        <div class="form-group ">
            <label class="label" for="">14. Nơi cấp</label>
            <input type="text" class="form-control" value="Yên Bái" placeholder="question" disabled>
        </div>
    </div>
</div>