<div class="heading heading-style">
    <div class="heading-title">2. thông tin cơ bản</div>
    <div class="heading-content style-infor-identifi">
        <div class="container-fluid">
            <div class="row ">
                <div class=" col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="form-group ">
                        <label class="label " for="">1. Họ và tên</label>
                        <input
                            type="text"
                            class="form-control name uni_text_1825aa"
                            placeholder="Nhập"
                            value="361963424"
                        >
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="cus-select2">
                        <div class="form-group ">
                            <label class="label" for="">2. Giới tính</label>
                            <select class="js-seclect2 form-control">
                                <option value="CA"> Nam</option>
                                <option value="NV">Nam</option>
                                <option value="NV">Nữ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="form-group ">
                        <label class="label" for="">3. Ngày sinh</label>
                        <div class="cus-date-picker">
                            <input
                                class="form-control js-datepicker"
                                type="text"
                                placeholder="dd-mm-yy"
                                value="18/02/2021"
                            >
                            <i class="date-icon fas fa-calendar-check"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="cus-select2">
                        <div class="form-group ">
                            <label class="label" for="">4. Quốc tịch</label>
                            <select class="js-seclect2 form-control">
                                <option value="CA">Việt Nam</option>
                                <option value="NV">Nevada</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="cus-select2">
                        <div class="form-group ">
                            <label class="label" for="">5. Quê quán</label>
                            <select class="js-seclect2 form-control">
                                <option value="CA">Việt Nam</option>
                                <option value="NV">Nevada</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="cus-select2">
                        <div class="form-group ">
                            <label class="label" for="">6. Dân tộc</label>
                            <select class="js-seclect2 form-control">
                                <option value="CA">Kinh</option>
                                <option value="NV">Nevada</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="cus-select2">
                        <div class="form-group ">
                            <label class="label" for="">7. Tôn giáo</label>
                            <select class="js-seclect2 form-control">
                                <option value="CA">Không</option>
                                <option value="NV">Nevada</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="form-group ">
                        <label class="label" for="">8. Đặc điểm nhận dạng</label>
                        <input
                            type="text"
                            class="form-control name"
                            placeholder="Nhập"
                            value="Sẹo chấm cách 2.5 so với trán"
                        >
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="form-group ">
                        <label class="label" for="">9. Họ tên cha</label>
                        <input
                            type="text"
                            class="form-control name"
                            placeholder="Nhập"
                            value="Lê Tuấn Ngọc"
                        >
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="form-group ">
                        <label class="label" for="">10. Họ tên mẹ</label>
                        <input
                            type="text"
                            class="form-control name"
                            placeholder="Nhập"
                            value="Trần Phương Thảo "
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
