<div class="heading heading-style">
    <div class="heading-title">1. giấy tờ định danh </div>
    <div class="heading-content style-infor-identifi">
        <div class="container-fluid">
            <div class="row ">
                <div class=" col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="form-group ">
                        <label class="label " for="">1. Số GTTT</label>
                        <input type="text" class="form-control name" placeholder="Nhập" value="361963424">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="form-group ">
                        <label class="label" for="">21. Ngày cấp</label>
                        <div class="cus-date-picker">
                            <input class="form-control js-datepicker" type="text" placeholder="dd-mm-yy"
                                value="18/02/2021" />
                            <i class="date-icon fas fa-calendar-check"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="cus-select2">
                        <div class="form-group ">
                            <label class="label" for="">22. Nơi cấp</label>
                            <select class="js-seclect2 form-control">
                                <option value="CA">- All -</option>
                                <option value="NV">Nevada</option>
                                <option value="OR">Oregon</option>
                                <option value="WA">Washington</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="form-group ">
                        <label class="label" for="">25. Có giá trị đến</label>
                        <input type="text" class="form-control" placeholder="Nhập">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>