<div class="identification-info__fingerprint-list identifi-infor mb-4">
    <div class="identification-info__fingerprint-item">
        <div class="position-hand">
            <div class="identification-info__image-hand left mr-0 mr-md-4 mb-2 mb-md-0">
                <figure class="img">
                    <img src="../../assets/images/avt_admin.jpg" alt="">
                </figure>
            </div>
            <div class="identification-info__image-hand right">
                {% include "../elements/_slider.twig" %}
            </div>
        </div>
    </div>
</div>