<div class="identification-info__fingerprint-list identifi-infor mb-4">
    <div class="identification-info__fingerprint-item">
        <div class="title text-uppercase">I. thông tin Mặt trước</div>
        <div class="position-hand">
            <div class="identification-info__image-hand left">
                <figure class="img">
                    <img src="../../assets/images/avt_admin.jpg" alt="">
                </figure>
            </div>
            {% include "./cp_circle_percent.twig" %}
            <div class="identification-info__image-hand right">
                <figure class="img">
                    <img src="../../assets/images/avt_admin.jpg" alt="">
                </figure>
            </div>
        </div>
    </div>
</div>
