<div class="identification-info">
    <div class="identification-info__progress">
        <div class="identification-info__heading">
            <span class="text-uppercase"> Phương thức định danh</span>
            <div class="form-group mb-0">
                <div class="input-cus">
                    <input type="text" class="form-control" placeholder="-">
                </div>
            </div>
        </div>
        <div class="identification-info__list">
            {% for i in 0..2 %}
            <div class="identification-info__item">
                <div class="date-progress">
                    <i class="icon far fa-smile-beam"></i>
                    <span class="date"> 12/12/2021</span>
                </div>
                <div class="identification-info__list-image">
                    {% for i in 0..5 %}
                    <div class="item_image">
                        <figure>
                            <div class="flag">
                                <span>Hình gốc</span>
                                <div class="tail"></div>
                            </div>
                            <img src="../../assets/images/avt_admin.jpg" alt="image-id">
                        </figure>
                        <div class="small-img">
                            <img src="../../assets/images/avt_admin.jpg" alt="image-id">
                        </div>
                        <div class="percent">95%</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="identification-info__fingerprint">
        <div class="identification-info__heading">
            <span class="text-uppercase"> Phương thức định danh</span>
            <div class="form-group mb-0">
                <div class="input-cus">
                    <input type="text" class="form-control" placeholder="-">
                </div>
            </div>
        </div>
        <div class="identification-info__fingerprint-list">
            <div class="identification-info__fingerprint-item">
                <div class="title text-uppercase">I. MẪU VÂN TAY 1</div>
                <div class="position-hand pl-2 pr-2">
                    <div class="identification-info__image-hand">
                        <div class="text">Bàn tay: Trái | Loại ngón: trỏ</div>
                        <figure>
                            <img src="../../assets/images/hand_2.PNG" alt="">
                        </figure>
                    </div>
                    {% include "./cp_circle_percent.twig" %}
                    <div class="identification-info__image-hand">
                        <div class="text">Bàn tay: Trái | Loại ngón: trỏ</div>
                        <figure>
                            <img src="../../assets/images/printfinger.PNG" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="identification-info__fingerprint-item">
                <div class="title text-uppercase">I. MẪU VÂN TAY 1</div>
                <div class="position-hand pl-2 pr-2">
                    <div class="identification-info__image-hand">
                        <div class="text">Bàn tay: Trái | Loại ngón: trỏ</div>
                        <figure>
                            <img src="../../assets/images/hand_2.PNG" alt="">
                        </figure>
                    </div>
                    {% include "./cp_circle_percent.twig" %}
                    <div class="identification-info__image-hand">
                        <div class="text">Bàn tay: Trái | Loại ngón: trỏ</div>
                        <figure>
                            <img src="../../assets/images/printfinger.PNG" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
