<div class="cp_list_detail">
    <div class="card">
        <div class="card-body m-boxshadow-table">
            <div class="card-box">
                <div class="title">
                    Danh sách chi tiết (
                    <span class="text-underline">325</span>
                    )
                </div>
                <div class="actions">
                    <div class="input-search mr-2">
                        <i class="fa fa-search input-icon"></i>
                        <input type="text" class="form-control" placeholder="BookingID...">
                    </div>
                    <div class="cus-date-picker3">
                        <input
                            class="form-control js-datepicker"
                            type="text"
                            readonly
                            placeholder="dd-mm-yy"
                        >
                        <i class="date-icon fas fa-calendar-day"></i>
                    </div>
                </div>
            </div>
            <div class="cus-table mt-3" style="max-height: 450px;">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 5%">STT</th>
                            <th style="width: 10%" scope="col">BookingID</th>
                            <th style="width: 15%" scope="col">Thời gian</th>
                            <th style="width: 10%" scope="col">Vùng</th>
                            <th style="width: 15%" scope="col">ĐVKD</th>
                            <th style="width: 20%" scope="col">Họ tên khách hàng</th>
                            <th style="width: 15%" scope="col">Nghiệp vụ</th>
                            <th style="width: 25%" scope="col">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in 0..97 %}
                        <tr>
                            <td style="width: 5%">{{i+1}}</td>
                            <td style="width: 10%">
                                <a href="#" class="link_href_071180 fw-medium">ABC123</a>
                            </td>
                            <td style="width: 15%">210504 12:08:36</td>
                            <td style="width: 10%">Vùng 1</td>
                            <td style="width: 15%">Cống Quỳnh</td>
                            <td style="width: 20%">
                                <a href="#" class="link_href_212529 fw-medium">Nguyễn Ngọc Quế</a>
                            </td>
                            <td style="width: 15%" class="fw-medium">Mở CIF</td>
                            <td style="width: 25%" class="status-1825aa fw-medium">Đang xử lý</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
