<div class="row">
    <div class=" mb-4 col-12 col-md-6 col-lg">
        <div class="small-box ">
            <span class="text">Tổng hồ sơ</span>
            <p class="box box-total">325</p>
        </div>
    </div>
    <div class=" mb-4 col-12 col-md-6 col-lg">
        <div class="small-box ">
            <span class="text">Thành công</span>
            <p class="box box-success">200</p>
        </div>
    </div>
    <div class=" mb-4 col-12 col-md-6 col-lg">
        <div class="small-box ">
            <span class="text">Đã huỷ</span>
            <p class="box box-canceled">24</p>
        </div>
    </div>
    <div class=" mb-4 col-12 col-md-6 col-lg">
        <div class="small-box">
            <span class="text">Đang xử lý</span>
            <p class="box box-processing">93</p>
        </div>
    </div>
    <div class=" mb-4 col-12 col-md-6 col-lg">
        <div class="small-box">
            <span class="text">Từ chối</span>
            <p class="box box-denied">8</p>
        </div>
    </div>
</div>
